{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  classes: "govuk-!-margin-top-5",
  text: "Go to manage prison visits",
  href: "/back-to-start",
  attributes: { "data-test": "back-to-start" },
  preventDoubleClick: true
}) }}
