{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadcrumbs(showServiceName = "true", breadcrumbList = []) %}

  {% set rows = [ {
    text: "Digital Prison Services",
    href: dpsHome
    } ]
  %}

  {% if showServiceName %}
    {% set rows = (rows.push(
      {
        text: applicationName,
        href: "/"
      }
    ), rows) %}
  {% endif %}

  {% for item in breadcrumbList %}
    {% set rows = (rows.push(
      {
        text: item.title,
        href: item.href
      }
    ), rows) %}
  {% endfor %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: rows,
  classes: "govuk-!-display-none-print"
}) }}

{% endmacro %}
