<p class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
  <strong>Prisoner name:</strong>
  <span data-test="prisoner-name">{{ prisonerName }}</span>

  <strong class="govuk-!-margin-left-6">Location:</strong>
  <span data-test="prisoner-location">{{ prisonerLocation }}</span>

  <strong class="govuk-!-margin-left-6">Visit type:</strong>
  <span data-test="visit-restriction">{{ visitRestriction | capitalize }}</span>
</p>
