{# Adapted from https://design-patterns.service.justice.gov.uk/components/new-features-banner/ #}
<section aria-label="Feedback" class="govuk-width-container feedback-banner" data-test="feedback-banner">
  <div class="govuk-body feedback-content">
    <strong>Tell us what you think</strong>
    <span>
        <a href="{{ features.feedbackBanner.url }}" rel="noreferrer noopener" target="_blank">Give feedback</a>
        to help us improve the ‘{{ applicationName }}’ service.
    </span>
  </div>
</section>
