{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-grid-column-full">
    <div class="block-background">
        <div class="moj-search govuk-!-width-one-half">
            <form action="/search/prisoner{% if visit %}-visit{% endif %}" method="POST" novalidate>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukInput({
                    classes: "moj-search__input",
                    label: {
                        text: "Enter name or prison number"
                    },
                    id: "search",
                    name: "search",
                    spellcheck: false,
                    value: search,
                    autocomplete: "off",
                    errorMessage: errors | findError('search')
                }) }}

                {{ govukButton({
                    classes: "moj-search__button",
                    text: "Search",
                    preventDoubleClick: true,
                    attributes: {
                        "data-test": "search"
                    }
                }) }}

            </form>
        </div>
    </div>
</div>
