{%- from "moj/components/search/macro.njk" import mojSearch -%}

<div class="govuk-grid-column-full">
  <div class="block-background">
    {{ mojSearch({
      action: "/search/prisoner",
      method: "post",
      csrf: { value: csrfToken },
      input: {
        id: "search",
        name: "search",
        value: search,
        autocomplete: "off",
        errorMessage: errors | findError('search')
      },
      label: {
        text: "Enter name or prison number",
        classes: "govuk-!-font-weight-regular"
      },
      button: {
        text: "Search"
      },
      classes: "govuk-!-width-one-half"
    }) }}
  </div>
</div>
