{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Why is this booking being cancelled?" %}
{% set pageTitle %}
  {% if errors | length %}Error: {% endif %}{{ pageHeaderTitle }} - {{ applicationName }}
{% endset %}
{% set backLinkHref = "/visit/" + reference %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "partials/errorSummary.njk" %}

      <form action="/visit/{{ reference }}/cancel" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set requestMethods = [] %}
        {% for key, text in requestMethodsCancellation %}
          {% set requestMethods = (requestMethods.push(
            {
              value: key,
              text: text,
              checked: formValues.method == key
            }
          ), requestMethods) %}
        {% endfor %}
        {% set requestMethodHtml %}
          {{ govukRadios({
            idPrefix: "method",
            name: "method",
            fieldset: {
              legend: {
                text: "How did they make the request?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: requestMethods,
            errorMessage: errors | findError('method')
          }) }}
        {% endset %}

        {% set reasonsRadioItems = [] %}
        {% for key, text in visitCancellationReasons %}
          {% set reasonsRadioItems = (reasonsRadioItems.push(
            {
              value: key,
              text: text,
              conditional: {
                html: requestMethodHtml
              } if key === "VISITOR_CANCELLED",
              checked: formValues.cancel == key,
              attributes: {
                "data-test": key | lower
              }
            }
          ), reasonsRadioItems) %}
        {% endfor %}

        {{ govukRadios({
          idPrefix: "cancel",
          name: "cancel",
          fieldset: {
            legend: {
              text: pageHeaderTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: reasonsRadioItems,
          errorMessage: errors | findError('cancel')
        }) }}

        {{ govukInput({
          id: "reason",
          name: "reason",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Reason for cancellation",
            classes: "govuk-label--s"
          },
          value: formValues["reason"],
          autocomplete: "off",
          errorMessage: errors | findError("reason")
        }) }}

        {{ govukButton({
          text: "Cancel booking",
          attributes: {
            "data-test": "cancel-booking"
          },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
