{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Who is the main contact for this booking?" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref = "/book-a-visit/additional-support" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include "partials/errorSummary.njk" %}
        <form action="/visit/{{ reference }}/update/select-main-contact" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% set visitors = [] %}

            {% for visitor in adultVisitors %}
                {% set visitors = (visitors.push(
                    {
                        value: visitor.personId,
                        text: visitor.name + " (" + (visitor.relationshipDescription | lower) + " to prisoner)",
                        checked: visitor.personId == formValues.contact
                    }
                ), visitors) %}
            {% endfor %}

            {% set someoneElseHtml %}
                {{ govukInput({
                    id: "someoneElseName",
                    name: "someoneElseName",
                    type: "text",
                    classes: "govuk-!-width-one-third",
                    label: {
                        text: "Name"
                    },
                    value: formValues.someoneElseName,
                    autocomplete: "off",
                    errorMessage: errors | findError('someoneElseName')
                }) }}
            {% endset -%}
            
            {% set visitors = (visitors.push(
                {
                    value: "someoneElse",
                    text: "Someone else",
                    checked: formValues.contact == "someoneElse",
                    conditional: {
                        html: someoneElseHtml
                    }
                }
            ), visitors) %}

            {{ govukRadios({
                idPrefix: "contact",
                name: "contact",
                fieldset: {
                    legend: {
                        text: pageHeaderTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: visitors,
                errorMessage: errors | findError('contact')
            }) }}

            {{ govukInput({
                label: {
                    text: "What is their phone number?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                },
                hint: {
                    text: "If this is a UK mobile number, the main contact will receive a text message with the booking reference and visit details"
                },
                classes: "govuk-!-width-one-third",
                id: "phoneNumber",
                name: "phoneNumber",
                value: formValues.phoneNumber,
                autocomplete: "off",
                errorMessage: errors | findError('phoneNumber')
            }) }}
            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true
            }) }} 
        </form>
    </div>
  </div>
{% endblock %}
