{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/visitors.njk" import visitorDateOfBirth, visitorRestrictions %}

{% set pageHeaderTitle = "Booking details" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle + " - " + visit.reference %}
{% if fromVisitSearch %}
{% set backLinkHref = "/visits?" + fromVisitSearchQuery %}
{% else %}
{% set backLinkHref = "/prisoner/" + visit.prisonerId + "/visits" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="bapv-secondary-text govuk-!-margin-bottom-0">Booking reference: <span data-test="reference">{{ visit.reference }}</span></p>

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <h2 class="govuk-heading-m">Prisoner details</h2>
      <ul class="bapv-item-list--horizontal">
        <li>
          <strong>Name</strong>
          <span data-test="prisoner-name">{{ (prisoner.firstName + ' ' + prisoner.lastName) | formatLastNameFirst }}</span>
        </li>
        <li>
          <strong>Prison number</strong>
          <span data-test="prisoner-number">{{ prisoner.prisonerNumber }}</span>
        </li>
        <li>
          <strong>Date of birth</strong>
          <span data-test="prisoner-dob">{{ prisoner.dateOfBirth | formatDate }}</span>
        </li>
        <li>
          <strong>Location</strong>
          <span data-test="prisoner-location">{{ prisonerLocation }}</span>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Visit details</h2>
      <ul class="bapv-item-list--horizontal">
        <li>
          <strong>Date</strong>
          <span data-test="visit-date">{{ visit.startTimestamp | formatDate }}</span>
        </li>
        <li>
          <strong>Time</strong>
          <span data-test="visit-time">{{ visit.startTimestamp | formatTime + " to " + visit.endTimestamp | formatTime }}</span>
        </li>
        <li>
          <strong>Visit type</strong>
          <span data-test="visit-type">{{ visit.visitRestriction | capitalize }}</span>
        </li>
        <li>
          <strong>Main contact</strong>
          <span data-test="visit-contact">{{ visit.visitContact.name | formatLastNameFirst(false) }}</span>
        </li>
        <li>
          <strong>Phone number</strong>
          <span data-test="visit-phone">{{ visit.visitContact.telephone }}</span>
        </li>
      </ul>

      {{ govukButton({
        text: "Cancel booking",
        classes: "govuk-!-margin-top-5",
        href: "/visit/" + visit.reference + "/cancel",
        attributes: { "data-test": "cancel-visit" },
        preventDoubleClick: true
      }) }}

      {% set visitorRows = [] %}
      {% for visitor in visitors %}
        {% set visitorRows = (visitorRows.push([
          {
            text: visitor.name | formatLastNameFirst,
            attributes: { "data-test": "visitor-name-" + loop.index }
          },
          {
            html: visitorDateOfBirth(visitor),
            attributes: { "data-test": "visitor-dob-" + loop.index }
          },
          {
            text: visitor.relationshipDescription,
            attributes: { "data-test": "visitor-relationship-" + loop.index }
          },
          {
            html: visitor.address,
            attributes: { "data-test": "visitor-address-" + loop.index }
          },
          {
            html: visitorRestrictions(visitor),
            attributes: { "data-test": "visitor-restrictions-" + loop.index }
          }
        ]), visitorRows) %}
      {% endfor %}

      {{ govukTable({
        caption: "Visitor details",
        captionClasses: "govuk-table__caption--m",
        classes: "bapv-table govuk-!-margin-top-3",
        head: [
            {
              text: "Name"
            },
            {
              text: "Date of birth"
            },
            {
              text: "Relationship to prisoner"
            },
            {
              text: "Address"
            },
            {
              text: "Restrictions",
              classes: "govuk-!-width-one-quarter"
            }
        ],
        rows: visitorRows
      }) }}

      <ul class="bapv-item-list">
      {%- for visitNote in visit.visitNotes %}
        {% if visitNote.type == "VISIT_COMMENT" %}
          <li>
            <strong>Comments</strong>
            <span data-test="visit-comment">{{ visitNote.text }}</span>
          </li>
        {% elseif visitNote.type == "VISITOR_CONCERN" %}
          <li>
            <strong>Visitor concerns</strong>
            <span data-test="visitor-concern">{{ visitNote.text }}</span>
          </li>
        {% endif %}
      {% endfor %}

        <li>
          <strong>Additional support</strong>
          <span data-test="additional-support">{{ additionalSupport | join(", ") if additionalSupport | length else "None"}}</span>
        </li>

        <li>
          <strong>Visit booked</strong>
          <span data-test="visit-booked">{{ visit.createdTimestamp | formatDate('EEEE d MMMM yyyy') }} at {{ visit.createdTimestamp | formatTime }}</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
