{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/visitors.njk" import visitorDateOfBirth, visitorRestrictions %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%-from "moj/components/banner/macro.njk" import mojBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro actionedByUser(user) %}
  {% if user and user != 'NOT_KNOWN' %}
    {% if user == 'NOT_KNOWN_NOMIS' %}
      in NOMIS
    {%- else %}
      by {{ user -}}
    {% endif %}
  {% endif %}
{% endmacro %}

{% set pageHeaderTitle = "Visit booking details" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle + " - " + visit.reference %}

{% if prisoner %}
  {% if fromPage == "visit-search" %}
    {% set backLinkHref = "/search/visit/results?" + fromPageQuery %}
  {% elseif fromPage == "visits" %}
    {% set backLinkHref = "/visits?" + fromPageQuery %}
  {% elseif fromPage == "review" %}
    {% set backLinkHref = "/review" %}
  {% else %}
    {% set backLinkHref = "/prisoner/" + visit.prisonerId %}
  {% endif %}
{% else %}
  {% set backLinkHref = "/" %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="bapv-secondary-text govuk-!-margin-bottom-0">Booking reference: <span data-test="reference">{{ visit.reference }}</span></p>

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    {% if prisoner %}
    {% set cancelledVisitReason = '' %}

      {% if visit.visitStatus === "CANCELLED" %}

        {% set status = visit.outcomeStatus.split("_") %}

        {% set cancelledBy %}
          {% if status[0] === 'ADMINISTRATIVE' %}
            {{- 'This visit was cancelled due to an administrative error with the booking.' -}}
          {% elseif status[0] === 'DETAILS' %}
            {{- 'This visit was cancelled as the details changed after booking.' -}}
          {% elseif status[0] === 'BOOKER' or status[0] === 'VISITOR' %}
            {{- 'This visit was cancelled by a visitor.' -}}
          {% else %}
            {{- 'This visit was cancelled by the ' + status[0] | lower + '.' -}}
          {% endif %}
        {% endset %}

        {% set cancelledVisitBannerHtml %}
          {{ govukWarningText({
            classes: "govuk-!-margin-bottom-0 govuk-!-padding-left-4",
            html: '<span data-test="visit-cancelled-type">' + cancelledBy + '</span>',
            iconFallbackText: "Warning"
          }) }}
        {% endset %}

        {{ mojBanner({
          classes: "govuk-!-padding-left-4",
          html: cancelledVisitBannerHtml
        }) }}

        {%- for visitNote in visit.visitNotes %}
          {% if visitNote.type == "VISIT_OUTCOMES" %}
            {% set cancelledVisitReason = visitNote.text %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {%if notifications | length %}
        {% for notification in notifications %}
          {% set visitNotificationBannerHtml %}
            {{ govukWarningText({
              classes: "govuk-!-margin-bottom-0 govuk-!-padding-left-4",
              html: '<span data-test="visit-notification">' + (notificationTypeWarnings[notification] | default(notification)) + "</span>",
              iconFallbackText: "Warning"
            }) }}
          {% endset %}

          {{ mojBanner({
            classes: "govuk-!-padding-left-4",
            html: visitNotificationBannerHtml
          }) }}
        {% endfor %}
      {% endif %}

      <ul class="bapv-item-list">
        <li> 
          <strong>Date and time</strong>
          <span data-test="visit-date-and-time">{{ visit.startTimestamp | formatDate("EEEE d MMMM yyy") }}, {{ visit.startTimestamp | formatTime + " to " + visit.endTimestamp | formatTime }}</span>
        </li>
        <li> 
          <strong>Visit type</strong>
          <span data-test="visit-type">{{ visit.visitRestriction | capitalize }}</span>
        </li>
         <li>
          <strong>Main contact</strong>
          <span data-test="visit-contact">{{ visit.visitContact.name | formatLastNameFirst(false) }}</span>
        </li>
        <li>
          <strong>Phone number</strong>
          <span data-test="visit-phone">{{ visit.visitContact.telephone | formatTelephone }}</span>
        </li>
      </ul>

      <div class="govuk-button-group">
        {% if visit.visitStatus === 'BOOKED' %}
          <form action="/visit/{{ visit.reference }}" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% if showUpdate %}
              {{ govukButton({
                text: "Update booking",
                classes: "govuk-!-margin-top-5",
                attributes: { "data-test": "update-visit" },
                preventDoubleClick: true
              }) }}
            {% endif %}
            {% if showCancel %}
              {{ govukButton({
                text: "Cancel booking",
                classes: "govuk-!-margin-top-5 govuk-button--secondary",
                href: "/visit/" + visit.reference + "/cancel",
                attributes: { "data-test": "cancel-visit" },
                preventDoubleClick: true
              }) }}
            {% endif %}
            {% if showDoNotChange %} 
              {{ govukButton({
                text: "Do not change",
                classes: "govuk-!-margin-top-5 govuk-button--secondary",
                href: "/visit/" + visit.reference + "/clear-notifications",
                attributes: { "data-test": "clear-notifications" },
                preventDoubleClick: true
              }) }}
            {% endif %}
          </form>
        {% endif %}
      </div>

      {% set prisonerDetailsHtml %}
        <div class="govuk-!-width-one-half">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  html: "<span data-test='prisoner-name'>" + (prisoner.firstName + ' ' + prisoner.lastName) | formatLastNameFirst + "</span>"
                }
              },
              {
                key: {
                  text: "Prison number"
                },
                value: {
                  html: "<span data-test='prisoner-number'>" + prisoner.prisonerNumber + "</span>"
                }
              },
              {
                key: {
                  text: "Date of birth"
                },
                value: {
                  html: "<span data-test='prisoner-dob'>" + prisoner.dateOfBirth | formatDate + "</span>"
                }
              },
              {
                key: {
                  text: "Location"
                },
                value: {
                  html: "<span data-test='prisoner-location'>" + prisonerLocation + "</span>"
                }
              }
            ]
          }) }}
        </div>

      {% endset %}

      {% set visitorDetailsHtml %}

        <div class="govuk-!-width-two-thirds">

          {%- for visitor in visitors %}

            <h2 class="govuk-heading-m"=>Visitor {{ loop.index }}</h1>

            {% set displayRows = [] %}
            {% set displayRows = (displayRows.push(
              {
                key: {
                  text: 'Name'
                },
                value: {
                  html: '<span data-test="test-visitor-name' + loop.index + '">' + visitor.name | safe + ' (' + (visitor.relationshipDescription | lower) + ' of the prisoner)</span>'
                }
              },
              {
                key: {
                  text: 'Date of birth'
                },
                value: {
                  html: '<span data-test="test-visitor-dob' + loop.index + '">' + visitorDateOfBirth(visitor) + '</span>'
                }
              },
              {
                key: {
                  text: 'Address '
                },
                value: {
                  html: '<span data-test="test-visitor-address' + loop.index + '">' + (visitor.address | replace("<br>", " ")) + '</span>'
                }
              },
              {
                key: {
                  text: 'Restrictions '
                },
                value: {
                  html: '<span data-test="test-visitor-restriction' + loop.index + '">' + visitorRestrictions(visitor) + '</span>'
                }
              }

            ), displayRows) %}

            {{ govukSummaryList({
              rows: displayRows
            }) }}

          {% endfor %}

          <h2 class="govuk-heading-m"=>Visitor information</h1>
        
          {{ govukSummaryList ({
            rows: [
            {
                key: {
                  text: "Additional support"
                },
                value: {
                  html: '<span data-test="additional-support">' + (additionalSupport  if additionalSupport | length else "None") + '</span>'
                }
              }
            ]
          })}}

        </div>

      {% endset %}

      {% set historyHtml %}

        {% if filteredVisitHistoryDetails %}
          <div class="moj-timeline {{ 'hide-timeline' if filteredVisitHistoryDetails.length === 1 }}">
            {% for event in filteredVisitHistoryDetails | reverse %}
              <div class="moj-timeline__item">

                <div class="moj-timeline__header">
                  <h2 data-test="visit-event-{{ loop.index }}" class="moj-timeline__title">{{ eventAuditTypes[event.type]}}</h2>
                  <p data-test="visit-actioned-by-{{ loop.index }}" class="moj-timeline__byline">{{ actionedByUser(event.actionedByFullName) }}</p>
                </div>

                <p class="moj-timeline__date">
                  <time data-test="visit-event-date-time-{{ loop.index }}" datetime="{{ event.createTimestamp }}">{{ event.createTimestamp | formatDate('EEEE d MMMM yyyy') }} at {{ event.createTimestamp | formatTime }}</time>
                </p>

                <div class="moj-timeline__description">
                  {% if event.type === 'BOOKED_VISIT' %}
                    {% if event.userType === 'PUBLIC' and event.applicationMethodType === 'WEBSITE' %}
                      <p data-test="visit-request-method-{{ loop.index }}">Method: GOV.UK booking</p>
                    {% else %}
                      <p data-test="visit-request-method-{{ loop.index }}">{{ requestMethodDescriptions[event.applicationMethodType] }}</p>
                    {% endif %}
                  {% elseif event.type === 'UPDATED_VISIT' or event.type === 'MIGRATED_VISIT' %}
                    <p data-test="visit-request-method-{{ loop.index }}">{{ requestMethodDescriptions[event.applicationMethodType] }}</p>
                  {% elseif event.type === 'CANCELLED_VISIT' %}
                    {% if cancelledVisitReason !== '' %}
                      <p data-test="visit-cancelled-reason-{{ loop.index }}">Reason: {{ cancelledVisitReason }}</p>
                    {% endif %}
                    {% if event.applicationMethodType !== 'NOT_KNOWN' and event.applicationMethodType !== 'NOT_APPLICABLE' %}
                      {% if event.userType ==='PUBLIC' and event.applicationMethodType === 'WEBSITE' %}
                        <p data-test="visit-cancelled-request-method-{{ loop.index }}">Method: GOV.UK cancellation</p>
                      {% else %}
                        <p data-test="visit-cancelled-request-method-{{ loop.index }}">{{ requestMethodDescriptions[event.applicationMethodType] }}</p>
                      {% endif %}
                    {% endif %}
                  {% elseif event.type === 'IGNORE_VISIT_NOTIFICATIONS_EVENT' %}
                    <p data-test="visit-needs-review-description-{{ loop.index }}">Reason: {{ event.text }}</p>
                  {% else %}
                    <p data-test="visit-needs-review-description-{{ loop.index }}">Reason: {{ notificationTypes[event.type] }}</p>
                  {% endif %}

                </div>

              </div>
            {% endfor %}
          </div>

        {% endif %}

      {% endset %}

      {{ govukTabs({ 
        items: [
          {
            label: "Prisoner details",
            id: "prisoner-details",
            panel: {
              html: prisonerDetailsHtml,
              attributes: { "data-test": "select-prisoner-tab" }
            }
          },
          {
            label: "Visitors",
            id: "visitors",
            panel: {
              html: visitorDetailsHtml,
              attributes: { "data-test": "select-visitor-tab" }

            }
          },
          {
            label: "Booking history",
            id: "history",
            panel: {
              html: historyHtml,
              attributes: { "data-test": "select-history-tab" }
            }
          }
        ]
      })}}

    {% else %}
      <p>This booking is not for {{ selectedEstablishment.prisonName }}.</p>
      <p>To view the booking, change the establishment to {{ visitPrisonName }} and search for it by the booking reference.</p>
    {% endif %}

  </div>
</div>


{% endblock %}
