{% extends "layout.njk" %}
{% from "partials/breadcrumbs.njk" import breadcrumbs with context %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "components/filter/macro.njk" import bapvFilter -%}

{% set pageHeaderTitle = "Visit bookings that need review" %}

{% block beforeContent %}
  {{ breadcrumbs() }}
{% endblock %}

{% set reviewListRows = [] %}
{% for listItem in visitsReviewList %}
  {% set notifications %}
    <ul class="govuk-list govuk-!-margin-bottom-1">
      {% for notification in listItem.notifications -%}
        <li class="{{ "govuk-!-margin-bottom-3" if not loop.last }}">
          {{- govukTag({ text: notification.value, classes: "notification-tag notification-tag--" + notification.key | lower }) -}}
        </li>
      {%- endfor %}
    </ul>
  {% endset %}

  {% set reviewListRows = (reviewListRows.push([
    {
      attributes: { "data-test": "prisoner-number-" + loop.index },
      text: listItem.prisonerNumber
    },
    {
      attributes: { "data-test": "visit-date-" + loop.index },
      text: listItem.visitDate | formatDate
    },
    {
      attributes: { "data-test": "booked-by-" + loop.index },
      text: listItem.bookedByName
    },
    {
      attributes: { "data-test": "type-" + loop.index },
      html: notifications
    },
    {
      attributes: { "data-test": "action-" + loop.index },
      html: '<a class="govuk-link--no-visited-state" href="/visit/' + listItem.visitReference + '?from=review" >View</a>'
    }
  ]), reviewListRows) %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      {{ govukDetails({
        summaryText: "What checks are done to create this list?",
        html:
        '<p>Bookings are added to this list when:</p>' +
        '<ul class="govuk-list govuk-list--bullet" data-test="review-reasons-list">' +
          '<li>' + notificationTypeDescriptions | join ("</li><li>") + '</li>' +
        '</ul>' +
        '<p>All other checks need to be done manually.</p>'
      }) }}

      {% if isAFilterApplied or visitsReviewList | length %}
        {{ bapvFilter({
          csrfToken: csrfToken,
          filters: filters
        }) }}
      {% endif %}

      {% if visitsReviewList | length %}

        {{ govukTable({
          attributes: { "data-test": "bookings-list" },
          head: [
            {
              text: "Prison number"
            },
            {
              text: "Visit date"
            },
            {
              text: "Booked by"
            },
            {
              text: "Reason"
            },
            {
              text: "Action"
            }
          ],
          rows: reviewListRows
        }) }}

      {% else %}

        {% if isAFilterApplied  %}
          <p data-test="no-bookings-for-filters">There are no bookings to review for {{ prisonName }} that match the selected filters.</p>
        {% else %}
          <p data-test="no-bookings">There are no bookings for {{ prisonName }} that need review.</p>
        {% endif %}

      {% endif %}
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/assets/filter-component.js"></script>
{% endblock %}
