{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set pageHeaderTitle = "Is additional support needed for any of the visitors?" %}

{% set backLinkHref = urlPrefix + "/select-date-and-time" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <p>For example, a wheelchair ramp, an induction loop or an interpreter.</p>

      {% if publicBooker %}
        {{ govukWarningText({
          text: "The booker can view this comment on GOV.UK. Comments also appear on the operational reports that are printed from NOMIS.",
          iconFallbackText: "Warning",
          classes: "govuk-!-width-two-thirds",
          attributes: { "data-test": "warning-text" }
        }) }}
      {% else %}
        <p data-test="warning-text">Comments appear on the operational reports that are printed from NOMIS.</p>
      {% endif %}
      
      <form action="{{ urlPrefix }}/additional-support" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set otherSupportHtml %}
          {{ govukCharacterCount({
            id: "additionalSupport",
            name: "additionalSupport",
            maxlength: 200,
            threshold: '75',
            type: "text",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Provide details about the request",
              classes: "govuk-visually-hidden"
            },
            hint: {
              text: "Provide details about the request"
            },
            value: formValues.additionalSupport,
            autocomplete: "off",
            errorMessage: errors | findError('additionalSupport')
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "additionalSupportRequired",
          name: "additionalSupportRequired",
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                'data-test': 'support-required-yes'
              },
              checked: formValues.additionalSupportRequired == "yes",
              conditional: {
                html: otherSupportHtml
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                'data-test': 'support-required-no'
              },
              checked: formValues.additionalSupportRequired == "no"
            }
          ],
          errorMessage: errors | findError('additionalSupportRequired')
        }) }}
          
        {{ govukButton({
          text: "Continue",
          attributes: { "data-test": "submit", "data-test-app-ref": appReference },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
