{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% if isUpdate %}
    {% set pageHeaderTitle = "Booking updated" %}
{% else %}
    {% set pageHeaderTitle = "Booking confirmed" %}
{% endif %}

{% set pageTitle %}
{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukPanel({
            titleText: pageHeaderTitle,
            html: 'The booking reference is<br><strong class="test-booking-reference">' + visitReference + "</strong>"
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "partials/errorSummary.njk" %}

        {% if isUpdate %}
            <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
            <p>The visit booking has been updated.</p>
            <p>The main contact will get a text message to confirm the updated booking. This will include the booking reference.</p>
        {% else %}
            <h2 class="govuk-heading-m govuk-!-margin-top-6">What to do next</h2>
            <p>Let the caller know:</p>
            <ul class="govuk-body">
                <li>if they gave a UK mobile number, the main contact will receive a text message with the booking reference and visit details</li>
                <li>they will need the booking reference to <a href="/search/visit">cancel the booking</a></li>
                <li>changes to the booking can be made up to 2 working days before the visit</li>
                <li>who can <a class="govuk-link--no-visited-state" href="https://www.gov.uk/help-with-prison-visits">get help with the cost of visits</a></li>
            </ul>
            <p>To prepare for the visit day, tell them:</p>
            <ul class="govuk-body">
                <li>what time to arrive for the visit</li>
                <li>all adult visitors will need to bring <a class="govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/management-of-security-at-visits-policy-framework-open-estate/acceptable-forms-of-identification-id-when-visiting-a-prison-in-england-and-wales-annex-a">acceptable forms of ID</a></li>
                <li>any COVID-19 requirements (such as face coverings and lateral flow tests)</li>
                <li>any prison specific rules (such as clothing guidelines)</li>
            </ul>
        {% endif %}
        <div>
        {{ govukButton({
            classes: "govuk-!-margin-top-3, govuk-!-margin-bottom-4",
            text: "Go to manage prison visits",
            attributes: { "data-test": "go-to-home" },
            href: "/",
            preventDoubleClick: true
        }) }}
        </div>
        <div>
         {{ govukButton({
            classes: "govuk-!-margin-top-3, govuk-!-margin-bottom-6 govuk-button--secondary",
            text: "Book another visit for this prisoner",
            attributes: { "data-test": "go-to-prisoner" },
            href: "/prisoner/" + prisoner.offenderNo,
            preventDoubleClick: true
        }) }}
        </div>
    </div>
</div>

{% set displayRows = [
    {
        key: {
            text: "Prisoner name"
        },
        value: {
            text: prisoner.name,
            classes: "test-visit-prisoner-name"
        }
    },
     {
        key: {
            text: "Prisoner number"
        },
        value: {
            text: prisoner.offenderNo,
            classes: "test-visit-prisoner-number"
        }
    },
    {
        key: {
            text: "Date"
        },
        value: {
            text: visitSlot.startTimestamp | formatDate("EEEE d MMMM yyyy"),
            classes: "test-visit-date"
        }
    },
    {
        key: {
            text: "Time"
        },
        value: {
            text: visitSlot.startTimestamp | formatTime + " to " + visitSlot.endTimestamp | formatTime,
            classes: "test-visit-time"
        }
    },
    {
        key: {
            text: "Visit type"
        },
        value: {
            text: visitRestriction | capitalize,
            classes: "test-visit-type"
        }
    }
] %}

{%- for visitor in visitors %}
    {% set displayRows = (displayRows.push(
        {
            key: {
                text: "Visitor " + loop.index
            },
            value: {
                html: '<p><span class="test-visitor-name' + loop.index + '">' + visitor.name | safe+ " (" + (visitor.relationshipDescription | lower) + ' of the prisoner)</span><br><span class="test-visitor-address' + loop.index + '">' + visitor.address | replace("<br>", " ") + "</span>"
            }
        }
    ), displayRows) %}
{% endfor %}
{% set support %}
    {% if additionalSupport | length %}
        {{ additionalSupport | join(', ') }}
    {% else %}
        {{ "None." }}
    {% endif %}
{% endset %}
{% set displayRows = (displayRows.push(
    {
        key: {
            text: "Additional support requests"
        },
        value: {
            html: '<p class="test-additional-support">' + support + '</p>'
        }
    }
), displayRows) %}

{% set contactName %}
    {% if mainContact.contactName %}
        {{ mainContact.contactName | safe }}
    {% else %}
        {{ mainContact.contact.name | safe + " (" + (mainContact.contact.relationshipDescription | lower) + " of the prisoner)" }}
    {% endif %}
{% endset %}
{% set displayRows = (displayRows.push(
    {
        key: {
            text: "Main contact"
        },
        value: {
            html: '<p class="test-main-contact-name">' + contactName + '</p><p class="test-main-contact-number">' +
                mainContact.phoneNumber | formatTelephone + '</p>'
        }
    }
), displayRows) %}
     
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Visit details</h2>
        {{ govukSummaryList ({
            rows: displayRows
        })}}
    </div>
</div>
{% endblock %}
