{% extends "layout.njk" %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageHeaderTitle = "Select date and time of visit" %}

{% set backLinkHref = urlPrefix + "/select-visitors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Messages #}
      {% for message in messages %}
        {{ mojAlert(message) }}
      {% endfor %}

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      {% include "partials/dateAndTimePrisonerInfo.njk" %}

      {# Calendar key #}
      {% call govukDetails({
        summaryText: "Help with the calendar",
        classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-8"
      }) %}
        <p>
          The calendar shows visit times for the next
          <span data-test="booking-days-ahead">{{ policyNoticeDaysMax }}</span>
          days that are suitable for the prisoner’s location, category and incentive level.
          Visit times that have non-associations for the prisoner are not shown.
          The colours mean:
        </p>

        <ul class="govuk-list bapv-calendar__key">
          <li>
            <span><span class="bapv-calendar__key__colour--grey">Grey</span>:</span>
            No visits on this day
          </li>
          <li>
            <span><span class="bapv-calendar__key__colour--blue">Blue</span>:</span>
            Available visit times
          </li>
          <li>
            <span><span class="bapv-calendar__key__colour--orange">Orange</span>:</span>
            There’s an issue with these visit times, but you can choose to book
          </li>
          <li>
            <span><span class="bapv-calendar__key__colour--red">Red</span>:</span>
            A visit cannot be booked for this prisoner
          </li>
        </ul>
      {% endcall %}


      {# Calendar #}
      <nav class="bapv-calendar govuk-!-width-one-half" aria-label="Visit date selection calendar" role="navigation">

        {# Loop over months #}
        {% for month in calendar %}
          <h2 class="govuk-heading-m">{{ month.monthLabel }}</h2>

          {# Day name headings on first month only - unless more than 2 months #}
          {% if loop.first or calendar | length > 2 %}
            <ul class="govuk-list bapv-calendar__day-headings" aria-hidden="true">
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
              <li>Sun</li>
            </ul>
          {% endif %}

          {# Days for this month #}
          <ul class="govuk-list bapv-calendar__month">
            {% for day in month.days %}
              <li data-date="{{ day.date }}" class="bapv-calendar__day
                {#- add column offset class based on ISO day of week (1-7) -#}
                {%- if loop.first %} bapv-calendar__day--start-col-{{ day.date | formatDate('i') }}{% endif -%}
                {#- day style override classes -#}
                {%- if day.colour %} bapv-calendar__day--{{ day.colour }}{% endif -%}
                {%- if day.selected %} bapv-calendar__day--selected{%- endif -%}
                {%- if day.outline %} bapv-calendar__day--outline{%- endif %}"
                {%- if not day.sessionCount %} aria-hidden="true"{% endif -%}
                >

                {%- if day.sessionCount -%}
                  <a id="day-link-{{ day.date }}" href="#day-group-{{ day.date }}">
                    {{- day.date | formatDate("d") -}}
                    <span class="govuk-visually-hidden">{{ day.date | formatDate("MMMM - eeee") }} - {{ day.sessionCount }} visit {{ "time" | pluralise(day.sessionCount )}}</span>
                  </a>
                {% else -%}
                    <span>{{ day.date | formatDate("d") }}</span>
                    <span class="govuk-visually-hidden">{{ day.date | formatDate("MMMM - eeee") }} - no visit times</span>
                {%- endif %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </nav>

      {# Days / visit sessions #}
      {# TODO fix disable-button-on-submit code #}
      <form action="{{ urlPrefix }}/select-date-and-time" method="POST" novalidate class="disable-button-on-submit">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {# Days and visit sessions / schedule #}
        {% for day in calendarFullDays %}
          <div class="govuk-form-group bapv-calendar__day-group" data-date="{{ day.date }}">

            {% call govukFieldset({
              attributes: { id: 'day-group-' + day.date },
              legend: {
                text: day.date | formatDate("EEEE d MMMM yyyy"),
                classes: "govuk-fieldset__legend--m"
              }
            }) -%}

            {# morning and/or afternoon sections #}
            {%- for sectionLabel, visitSessions in day.visitSessions | groupby("daySection") %}
              <div class="govuk-grid-row">

                {# radio inputs #}
                <div class="govuk-grid-column-one-quarter">
                  <h3 class="govuk-heading-s">{{ sectionLabel | capitalize }}</h3>
                    {# build radio items #}
                    {% set visitSessionItems = [] %}
                    {%- for visitSession in visitSessions %}
                      {% set radioValue = day.date + "_" + visitSession.sessionTemplateReference %}

                      {% set radioLabelHtml -%}
                        <span class="govuk-!-font-weight-bold">{{ visitSession | formatStartToEndTime }}</span>
                        <br>
                        <span>{{ visitSession.visitRoom }}</span>
                        <br>
                        {% if visitSession.tag %}
                          {{ govukTag({
                            text: visitSession.tag.text,
                            classes: visitSession.tag.classes
                          }) }}
                        {% else %}
                          <span class="bapv-secondary-text">
                            {{ visitSession.availableTables }} {{ "table" | pluralise(visitSession.availableTables) }} available
                          </span>
                        {% endif %}
                      {%- endset %}
                      {% set visitSessionItems = (visitSessionItems.push({
                        value: radioValue,
                        html: radioLabelHtml,
                        disabled: visitSession.disabled
                      }), visitSessionItems) %}
                    {% endfor %}

                    {{- govukRadios({
                      name: "visitSessionId",
                      idPrefix: "date-" + day.date + "-" + sectionLabel,
                      items: visitSessionItems,
                      value: formValues.visitSessionId
                    }) }} {# TODO handle errorMessage #}
                </div>

                {# prisoner schedule #}
                {% set scheduledEventsByDaySection = day.scheduledEvents | groupby("daySection") %}
                {% if scheduledEventsByDaySection[sectionLabel] | length %}
                  <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-s{{ " bapv-visibility-hidden" if loop.index > 1 }}">Prisoner schedule</h3>
                    {% for event in scheduledEventsByDaySection[sectionLabel] %}
                      <div class="bapv-calendar__event">
                        {{ event | formatStartToEndTime }}
                        <br>
                        {{ event.description }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}

            <p class="govuk-!-display-inline-block">
              <a class="govuk-visually-hidden-focusable govuk-!-display-block govuk-!-margin-top-5" href="#day-link-{{ day.date }}">
                Choose a different date above
              </a>
            </p>

            {%- endcall %}
          </div>
        {% endfor %}

        {{ govukButton({
          text: "Continue",
          attributes: { "data-test": "continue-button" },
          preventDoubleClick: true
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/assets/components/bapvCalendar.js"></script>
{% endblock %}
