{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageHeaderTitle = "Select date and time of visit" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref = urlPrefix + "/select-visitors" %}

{% macro buildSlotsRadioItems(slotsList, radios) %}
  {% for slot in slotsList %}

    {%- set doubleBooked = slot.id != originalVisitSlot.id and (slot.sessionConflicts and "DOUBLE_BOOKED" in slot.sessionConflicts) %}
    {%- set checked = true if formValues['visit-date-and-time'] and formValues['visit-date-and-time'] == slot.id else false %}

    {%- set tableText %}
      {% if (slot.id == originalVisitSlot.id) -%}
        Time slot reserved by the original booking
      {% elseif (checked and not originalVisitSlot) -%}
        Time slot reserved for this booking
      {% elseif (doubleBooked and not checked) -%}
        Prisoner has a visit
      {%- elseif slot.availableTables <= 0 -%}
        Fully booked ({{ slot.capacity + (slot.availableTables | abs) }} of {{ slot.capacity}} {{ "table" | pluralise(slot.capacity) }} booked)
      {%- else -%}
        {{ slot.availableTables }} {{ "table" | pluralise(slot.availableTables) }} available
      {%- endif %}
    {% endset %}

    {%- set radios = (radios.push({
      value: slot.id,
      html: '<p class="bapv-radio-paragraph"><strong>' + slot.startTimestamp | formatTime +
        " to " + slot.endTimestamp | formatTime + "</strong><br>" + tableText + "</p>",
      id: slot.id,
      checked: checked,
      disabled: (doubleBooked and not checked)
    }), radios) %}
  {% endfor %}
{% endmacro %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/errorSummary.njk" %}

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    <p class="bapv-extraspacing bapv-date-time-information"><strong>Prisoner name:</strong> <span data-test="prisoner-name">{{ prisonerName }}</span> <strong>Location:</strong> <span data-test="visit-location">{{ location }}</span> <strong>Visit type:</strong> <span data-test="visit-restriction">{{ visitRestriction | capitalize }}</span></p>
    {{ govukDetails({
      summaryText: "What time slots are shown?",
      html: "<p>Showing time slots:</p><ul><li>suitable for the prisoner’s location and incentive level</li><li>that do not have non-associations for the prisoner</li><li>over the next 28 days</li></ul>"
    }) }}

    {% if not whereaboutsAvailable %}
    {% set whereaboutsUnavailable %}
      {{ govukWarningText({
        classes: "govuk-!-margin-bottom-0",
        html: '<span class="govuk-!-font-size-24">The prisoner schedule is unavailable.' +
          ' <br />Check NOMIS for court appearances. Prison number: ' + offenderNo + '</span>',
        iconFallbackText: "Warning",
        attributes: {
          "data-test": "whereabouts-unavailable"
        }
      }) }}
      {% endset %}
      {{ mojBanner({
        classes: "govuk-!-padding-left-4",
        html: whereaboutsUnavailable
      }) }}
    {% endif %}
    
    {% if showSlotChangeMessage %}
     {% set showSlotChangeMessageHtml %}
          {{ govukWarningText({
            classes: "govuk-!-margin-bottom-0",
            html: "<p class='govuk-!-font-size-24 govuk-!-font-weight-bold'>A new visit time must be selected.</p><p class='govuk-!-font-size-24 govuk-!-font-weight-bold'>A change to the prisoner's information means the original time slot is no longer suitable.</p>",
            iconFallbackText: "Warning",
            attributes: {
              "data-test": "slot-change-reason"
          }
        }) }}
      {% endset %}

      {{ mojBanner({
        classes: "govuk-!-padding-left-4",
        html: showSlotChangeMessageHtml
      }) }}
    {% endif %}

    {% if restrictionChangeMessage %}
      {% set restrictionChangeReasonHtml %}
          {{ govukWarningText({
            classes: "govuk-!-margin-bottom-0",
            html: '<span class="govuk-!-font-size-24">' + restrictionChangeMessage + '</span>',
            iconFallbackText: "Warning",
            attributes: {
              "data-test": "restriction-change-reason"
          }
        }) }}
      {% endset %}

      {{ mojBanner({
        classes: "govuk-!-padding-left-4",
        html: restrictionChangeReasonHtml
      }) }}


    {% endif %}
    
    {% if slotsPresent %}

    <form action="{{ urlPrefix }}/select-date-and-time" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% for month, days in slotsList %}
      <h2 class="govuk-heading-m" data-test="month">{{ month }}</h2>
      {% set accordion = [] %}
      {% for day in days %}

        {%- set morningSlotsList = [] %}
        {{ buildSlotsRadioItems(day.slots.morning, morningSlotsList) }}
        {%- set morningHtml %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter bapv-morning-slots">
              <h3 class="govuk-heading-s">Morning</h3>
              {{ govukRadios({
                name: "visit-date-and-time",
                items: morningSlotsList
              }) }}
            </div>
            <div class="govuk-grid-column-three-quarters">
              {% if day.prisonerEvents.morning | length %}
                <h3 class="govuk-heading-s">Prisoner schedule</h3>
                {% for event in day.prisonerEvents.morning %}
                  <div class="bapv-prisoner-event govuk-grid-column-one-third">{{ event.startTimestamp | formatTime }} to {{ event.endTimestamp | formatTime }}
                  <br>{{ event.description }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endset %}

        {%- set afternoonSlotsList = [] %}
        {{ buildSlotsRadioItems(day.slots.afternoon, afternoonSlotsList) }}
        {%- set afternoonHtml %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter bapv-afternoon-slots">
              <h3 class="govuk-heading-s">Afternoon</h3>
              {{ govukRadios({
                name: "visit-date-and-time",
                items: afternoonSlotsList
              }) }}
            </div>
            <div class="govuk-grid-column-three-quarters">
              {% if day.prisonerEvents.afternoon | length %}
                {% if not morningSlotsList | length %}<h3 class="govuk-heading-s">Prisoner schedule</h3>{% endif %} 
                {% for event in day.prisonerEvents.afternoon %}
                  <div class="bapv-prisoner-event govuk-grid-column-one-third{% if morningSlotsList | length %} bapv-prisoner-event--top-margin{% endif %}">{{ event.startTimestamp | formatTime }} to {{ event.endTimestamp | formatTime }}
                  <br>{{ event.description }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endset %}

        {%- set slotsAvailable = (day.slots.morning | length) + (day.slots.afternoon | length) %}
        {% set slotText %}
          {% if slotsAvailable === 0 %}Fully booked{% else %}{{ slotsAvailable }} time {{ "slot" | pluralise(slotsAvailable) }}{% endif %}
        {% endset %}

        {%- if (slotsAvailable > 0) %}
        {% set accordion = (accordion.push({
          heading: {
            text: day.date
          },
          summary: {
            text: slotText
          },
          content: {
            html: (morningHtml if morningSlotsList | length) + (afternoonHtml if afternoonSlotsList | length)
          },
          expanded: (morningSlotsList | selectattr("checked") | length) or (afternoonSlotsList | selectattr("checked") | length)
        }), accordion) %}
        {% endif %}
      {% endfor -%}

      {{- govukAccordion({
        id: "slots-month-" + (month | replace(" ", "")) + "-" + accordionId,
        headingLevel: 3,
        items: accordion
      }) }}
    {% endfor %}
    
    {{ govukButton({
      text: "Continue",
      attributes: { "data-test": "submit" },
      preventDoubleClick: true
    }) }} 
    </form>

    {% else %}
    <p>There are no available slots for the selected time and day.</p>
    <p>Change the filter to see more results.</p>

    {% include "partials/backToStartButton.njk" %}
    {% endif %}

  </div>
</div>
{% endblock %}
