{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Check the prisoner's closed visit restrictions" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref = "/book-a-visit/select-visitors" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "partials/errorSummary.njk" %}
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <form action="/book-a-visit/visit-type" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">


        <div class="prisoner-restrictions">
          {% set prisonerRestrictions = [] %}
          {% for restriction in restrictions %}
            {% set restrictionStartDate %}{% if restriction.startDate %}{{ restriction.startDate | formatDate }}{% else %}Not entered{% endif %}{% endset %}
            {% set restrictionExpiryDate %}{% if restriction.expiryDate %}{{ restriction.expiryDate | formatDate }}{% else %}Not entered{% endif %}{% endset %}
            {%- set prisonerRestrictions = (prisonerRestrictions.push([
              {
                html: '<span class="test-restrictions-type' + loop.index + ' moj-badge moj-badge--large visitor-restriction-badge visitor-restriction-badge--' +
                  restriction.restrictionType + '" data-test="restriction-type-' + loop.index + '">' + restriction.restrictionTypeDescription + '</span>'
              },
              {
                text: restriction.comment,
                classes: "test-restrictions-comment" + loop.index,
                attributes: {
                  "data-test": "restriction-comment-" + loop.index
                }
              },
              {
                text: restrictionStartDate,
                classes: "test-restrictions-start-date" + loop.index,
                attributes: {
                  "data-test": "restriction-start-" + loop.index
                }
              },
              {
                text: restrictionExpiryDate,
                classes: "test-restrictions-end-date" + loop.index,
                attributes: {
                  "data-test": "restriction-end-" + loop.index
                }
              }
            ]), prisonerRestrictions) %}
          {% endfor %}
          {{ govukTable({
            head: [
              {
                text: "Type of restriction"
              },
              {
                text: "Comments"
              },
              {
                text: "Date from"
              },
              {
                text: "Date to"
              }
            ],
            rows: prisonerRestrictions
          }) }}
        </div>

        {% set visitorListItems = [] %}
        {% for visitor in visitors %}
          {%- set visitorListItems = (visitorListItems.push(
            {
              key: {
                classes: "govuk-!-width-one-quarter test-visitor-key-" + loop.index,
                text: "Visitor " + loop.index
              },
              value: {
                classes: "test-visitor-value-" + loop.index,
                text: visitor.name + " (" + visitor.relationshipDescription | lower + " of the prisoner)"
              }
            }
          ), visitorListItems) %}
        {% endfor %}

        {% set visitorListHtml %}
          {{ govukSummaryList({
            rows: visitorListItems
          }) }}
        {% endset %}

        {{ govukDetails({
          summaryText: "Show visitors on this visit",
          html: visitorListHtml
        }) }}

        {{ govukRadios({
          name: "visitType",
          fieldset: {
            legend: {
              text: "Select visit type",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "OPEN",
              text: "Open visit",
              attributes: {
                'data-test': 'visit-type-open'
              }
            },
            {
              value: "CLOSED",
              text: "Closed visit",
              attributes: {
                'data-test': 'visit-type-closed'
              }
            }
          ],
          errorMessage: errors | findError('visitType')
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "data-test": "submit"
          },
          preventDoubleClick: true
        }) }} 
      </form>
    </div>
  </div>
{% endblock %}
