{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{% from "components/visitors.njk" import visitorDateOfBirth, visitorRestrictions %}
{%- from "components/expandableComment/macro.njk" import bapvExpandableComment -%}

{% set pageHeaderTitle = "Select visitors from the prisoner’s approved visitor list" %}

{% set backLinkHref = backLink %}

{% set visitors = [] %}
{% set noVisitorsText = '' %}

{% for visitor in visitorList %}

  {% set checkbox -%}
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="visitor-{{ visitor.personId }}" name="visitors" type="checkbox" value="{{ visitor.personId }}"
      {{- " checked" if formValues.visitors and visitor.personId | string in formValues.visitors }}{{ " disabled" if visitor.banned or not eligibleVisitors }}>
    <label class="govuk-label govuk-checkboxes__label" for="visitor-{{ visitor.personId }}">
      <span class="govuk-visually-hidden">Select {{ visitor.name }}</span>
    </label>
  </div>
  {%- endset %}

  {% set visitors = (visitors.push([
    {
      html: checkbox
    },
    {
      text: visitor.name,
      attributes: { "data-test": "visitor-name-" + visitor.personId }
    },
    {
      html: visitorDateOfBirth(visitor) | nl2br,
      attributes: { "data-test": "visitor-dob-" + visitor.personId }
    },
    {
      text: visitor.relationshipDescription,
      attributes: { "data-test": "visitor-relation-" + visitor.personId }
    },
    {
      html: visitor.address,
      classes: "bapv-force-overflow",
      attributes: { "data-test": "visitor-address-" + visitor.personId }
    },
    {
      html: visitorRestrictions(visitor),
      attributes: { "data-test": "visitor-restrictions-" + visitor.personId }
    }
  ]), visitors) %}
{% endfor %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <h2 class="govuk-heading-m" data-test="prisoner-name">{{ prisonerName }} active restrictions and alerts</h2>

      <p>Review restrictions and alerts before selecting visitors.</p>

      <p>This page shows alerts that are relevant for social visits. You can also <a class="govuk-link--no-visited-state" href="{{ prisonerDpsAlertsUrl }}" target="_blank" data-test="all-alerts-link">view all alerts</a>.</p>

      {% if restrictions | length or activeAlerts | length %}
        {% set prisonerRestrictions = [] %}
        {% for restriction in restrictions %}
          {% set restrictionExpiryDate %}{% if restriction.expiryDate %}{{ restriction.expiryDate | formatDate }}{% else %}No end date{% endif %}{% endset %}
          {%- set prisonerRestrictions = (prisonerRestrictions.push([
            {
              html: '<span data-test="restrictions-type' + loop.index + '" class="govuk-tag restriction-tag restriction-tag--' + restriction.restrictionType + '">' + restriction.restrictionTypeDescription + '</span>'
            },
            {
              text: restriction.comment,
              classes: "bapv-force-overflow",
              attributes: { "data-test":"restrictions-comment" + loop.index }
            },
            {
              text: restrictionExpiryDate,
              attributes: { "data-test":"restrictions-end-date" + loop.index }
            }
          ]), prisonerRestrictions) %}
        {% endfor %}

        {% set prisonerAlerts = [] %}
        {% for alert in activeAlerts %}
          {% set alertExpiryDate %}{% if alert.dateExpires %}{{ alert.dateExpires | formatDate }}{% else %}No end date{% endif %}{% endset %}
          {%- set prisonerAlerts = (prisonerAlerts.push([
            {
              html: '<span data-test="alert-type' + loop.index + '" class="govuk-tag alert-tag alert-tag--' + alert.alertType + '">' + alert.alertCodeDescription + '</span>'
            },
            {
              html: bapvExpandableComment({ text: alert.comment }),
              attributes: { "data-test":"alert-comment" + loop.index }
            },
            {
              text: alertExpiryDate,
              attributes: { "data-test":"alert-end-date" + loop.index }
            }
          ]), prisonerAlerts) %}
        {% endfor %}
        {% if restrictions | length %}
          {{ govukTable({
            classes: 'bapv-table-no-bottom-border fix-width-alert-restriction',
            head: [
              {
                text: "Type of restriction"
              },
              {
                text: "Comments"
              },
              {
                text: "End date"
              }
            ],
            rows: prisonerRestrictions
          }) }}
        {% endif %}

        {% if activeAlerts | length %}
        {{ govukTable({
          classes: 'bapv-table-no-bottom-border fix-width-alert-restriction',
          head: [
            {
              text: "Type of alert"
            },
            {
              text: "Comments"
            },
            {
              text: "End date"
            }
          ],
          rows: prisonerAlerts
        }) }}
        {% endif %}

      {% endif %}

      <h2 class="govuk-heading-m">Approved visitor list</h2>
      {% if visitors | length %}

        {% if errors | length %}
          <p id="visitors-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors[0].msg }}
          </p>
        {% endif %}
    
        {% if atLeastOneAdult === false %}
          <p data-test="no-suitable-visitors">There are no approved visitors 18 years old or older for this prisoner. A booking cannot be made at this time.</p>
        {% elif atLeastOneAdult === true and eligibleVisitors === false %}
          <p data-test="no-suitable-visitors">There are no visitors 18 years old or older who are not currently banned. A booking cannot be made at this time.</p>
        {% else %}

          <p>
            Up to <span data-test="visitors-max-total">{{ selectedEstablishment.maxTotalVisitors }} {{ "person" | pluralise(selectedEstablishment.maxTotalVisitors, "people") }}</span>
            can visit someone at <span data-test="prison-name">{{ selectedEstablishment.prisonName }}</span>. This includes:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <span data-test="visitors-max-adults">{{ selectedEstablishment.maxAdultVisitors }} {{ "person" | pluralise(selectedEstablishment.maxAdultVisitors, "people") }}</span>
              <span data-test="visitors-adult-age">{{ selectedEstablishment.adultAgeYears }} {{ "year" | pluralise(selectedEstablishment.adultAgeYears) }}</span> old or older
            </li>
            <li>
              <span data-test="visitors-max-children">{{ selectedEstablishment.maxChildVisitors }} {{ "person" | pluralise(selectedEstablishment.maxChildVisitors, "people") }}</span> under
              <span data-test="visitors-adult-age">{{ selectedEstablishment.adultAgeYears }} {{ "year" | pluralise(selectedEstablishment.adultAgeYears) }}</span> old
            </li>
          </ul>
          <p>At least one visitor must be 18 years or older.</p>
        {% endif %}
      
        <form action="{{ urlPrefix }}/select-visitors" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <div class="govuk-form-group{% if errors | length %} govuk-form-group--error{% endif %}">
          {{ govukTable({
            head: [
              {
                text: "Add to visit"
              },
              {
                text: "Name"
              },
              {
                text: "Date of birth"
              },
              {
                text: "Relationship to prisoner"
              },
              {
                text: "Address"
              },
              {
                html: "Restrictions",
                classes: "govuk-!-width-one-quarter"
              }
            ],
            rows: visitors
          }) }}
          </div>

          {% if eligibleVisitors === true %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue",
              attributes: { "data-test": "submit" },
              preventDoubleClick: true
            }) }}

            <a href="/back-to-start" class="govuk-link govuk-link--no-visited-state">Start again</a>
          </div>
          {% else %}
            {% include "partials/backToStartButton.njk" %}
          {% endif %}

        </form>
      {% else %}
        <p data-test="no-suitable-visitors">There are no approved visitors for this prisoner. A booking cannot be made at this time.</p>

        {% include "partials/backToStartButton.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/assets/components/expandableComment.js"></script>
{% endblock %}
