$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/index';
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/bapv-spacing';
@import './components/bapv-calendar';
@import './components/card';
@import './components/expandable-comment';
@import './components/block-background';
@import './components/filter';
@import './components/notification-types';
@import './components/prisoner-profile';
@import './components/alerts-and-restrictions';
@import './local';
