$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
// TODO enable: @import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/header-bar';
@import './components/card';
@import './components/block-background';
@import './components/filter';
@import './components/notificationTypes';
@import './components/prisoner-profile';
@import './components/restrictions';
@import './local';
