.govuk-main-wrapper {
  min-height: 600px;
}

.bapv-table_cell {
  padding: 20px 20px 20px 0;
}

.bapv-table_cell--nowrap {
  white-space: nowrap;
}

.bapv-radio-paragraph {
  margin-top: -10px;
  margin-bottom: 0;
}

.govuk-accordion__section-heading-text-focus {
  font-size: 19px;
}

.bapv-visit-date-time-filter {
  padding: 20px;
  background-color: govuk-colour("light-grey");
}
