.govuk-main-wrapper {
  min-height: 600px;
}

.bapv-table_cell {
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(4) 0;
}

.bapv-table_cell--nowrap {
  white-space: nowrap;
}

.bapv-radio-paragraph {
  margin-top: -govuk-spacing(2);
  margin-bottom: 0;
}

.govuk-accordion__section-heading-text-focus {
  @include govuk-font($size: 19, $weight: "bold");
}

.bapv-visit-date-time-filter {
  padding: govuk-spacing(4) govuk-spacing(4) 0;
  background-color: govuk-colour("light-grey");
  margin-bottom: govuk-spacing(4);

  .govuk-button-group {
    align-items: flex-end;
    margin-bottom: 0;

    .govuk-button {
      margin-bottom: 32px;
    }
  }

  .govuk-form-group {
    margin-right: govuk-spacing(6);
  }
}

.bapv-change-details-link {
  @include govuk-font($size: 19, $weight: 'normal');
  text-align: right;
}
