{% macro attendees(prisonerCategoryGroupNames, prisonerIncentiveLevelGroupNames, prisonerLocationGroupNames, areCategoryGroupsInclusive, areIncentiveGroupsInclusive, areLocationGroupsInclusive) %}
  {{ "All prisoners" if not prisonerCategoryGroupNames | length and not prisonerIncentiveLevelGroupNames | length and not prisonerLocationGroupNames | length }} {# All prisoners displayed if no group names present #}

  {% if prisonerCategoryGroupNames | length and prisonerIncentiveLevelGroupNames | length and prisonerLocationGroupNames | length %} {# If all 3 group names are present #}
    {% if areCategoryGroupsInclusive and areIncentiveGroupsInclusive and areLocationGroupsInclusive %} {# If include, include, include #}
      {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} in {{ mergeGroupNames(prisonerLocationGroupNames) }}
    {% elif areCategoryGroupsInclusive and areIncentiveGroupsInclusive and areLocationGroupsInclusive === false %} {# If include, include, exclude #}
      {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} except prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }}
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive and areLocationGroupsInclusive %} {# If exclude, include, include #}
      Prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} in {{ mergeGroupNames(prisonerLocationGroupNames) }} except {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive and areLocationGroupsInclusive === false %} {# If exclude, include, exclude #}
      Prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} except {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners and prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }}
    {% elif areCategoryGroupsInclusive and areIncentiveGroupsInclusive === false  and areLocationGroupsInclusive  %} {# If include, exclude, include #}
      {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }} except prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }}
    {% elif areCategoryGroupsInclusive and areIncentiveGroupsInclusive === false  and areLocationGroupsInclusive === false %} {# If include, exclude, exclude #}
      {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners except prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} and prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }} 
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive === false  and areLocationGroupsInclusive %} {# If exclude, exclude, include #}
      Prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }} except {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners and prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames)}}
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive === false and areLocationGroupsInclusive === false %} {# If exclude, exclude, exclude #}
      All prisoners except {{ mergeGroupNames(prisonerCategoryGroupNames) }} prisoners, prisoners on {{ mergeGroupNames(prisonerIncentiveLevelGroupNames) }} and prisoners in {{ mergeGroupNames(prisonerLocationGroupNames) }}
    {% endif %}

  {% elif prisonerCategoryGroupNames | length and prisonerIncentiveLevelGroupNames | length %} {# If category and incentive are present #}
    {% if areCategoryGroupsInclusive and areIncentiveGroupsInclusive %} {# If include, include #}
      [Category] prisoners on [incentive]
    {% elif areCategoryGroupsInclusive and areIncentiveGroupsInclusive === false %} {# If include, exclude #}
      [Category] prisoners except [incentive] prisoners
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive %} {# If exclude, include #}
      Prisoners on [incentive] except [category] prisoners
    {% elif areCategoryGroupsInclusive === false and areIncentiveGroupsInclusive === false %} {# If exclude, exclude #}
      All prisoners except [category] prisoners on [incentive]
    {% endif %}

  {% elif prisonerCategoryGroupNames | length and prisonerLocationGroupNames | length %} {# If category and location are present #}
    {% if areCategoryGroupsInclusive and areLocationGroupsInclusive %} {# If include, include #}
      [category] prisoners in [location]
    {% elif areCategoryGroupsInclusive and areLocationGroupsInclusive === false %} {# If include, exclude #}
      [category] prisoners except prisoners in [location]
    {% elif areCategoryGroupsInclusive === false and areLocationGroupsInclusive %} {# If exclude, include #}
      Prisoners in [location] except prisoners on [category]
    {% elif areCategoryGroupsInclusive === false and areLocationGroupsInclusive === false %} {# If exclude, exclude #}
      All prisoners except [category] prisoners in [location]
    {% endif %}

  {% elif prisonerIncentiveLevelGroupNames | length and prisonerLocationGroupNames | length %} {# If incentive and location are present #}
    {% if areIncentiveGroupsInclusive and areLocationGroupsInclusive %} {# If include, include #}
      Prisoners on [incentive] in [location]
    {% elif areIncentiveGroupsInclusive and areLocationGroupsInclusive === false %} {# If include, exclude #}
      Prisoners on [incentive] except prisoners in [location]
    {% elif areIncentiveGroupsInclusive === false and areLocationGroupsInclusive %} {# If exclude, include #}
      Prisoners in [location] except prisoners on [incentive]
    {% elif areIncentiveGroupsInclusive === false and areLocationGroupsInclusive === false %} {# If exclude, exclude #}
      All prisoners except prisoners on [incentive] and prisoners in [location]
    {% endif %}
    
  {% endif %}
{% endmacro %}

{% macro mergeGroupNames(groupNames) %}
  {% set nameString = '' %}
  {% for name in groupNames %}
    {% if loop.first %}
      {% set nameString = name %}
    {% elif loop.last %}
      {% set nameString = nameString + ' and ' + name %}
    {% else %}
      {% set nameString = nameString + ', ' + name %}
    {% endif %}
  {% endfor %}
  {{- nameString -}}
{% endmacro %}