{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/jquery.min.js"></script> 
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "partials/header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block beforeContent %}
  {% if backLinkHref %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkHref
    }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  {# Javascript block for individual pages #}
  {% block pageScripts %}
  {% endblock %}
{% endblock %}
