{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set bodyClasses = ("env--" + environmentName) if environmentName %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle -%}
  {%- if errors | length %}Error: {% endif %}
  {%- if pageHeaderTitle %}{{ pageHeaderTitle }} - {% endif %}
  {{- applicationName }} - DPS
{%- endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block beforeContent %}
  <div role="navigation">
    {% if backLinkHref %}
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref
      }) }}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/index.js"></script>
  {# Javascript block for individual pages #}
  {% block pageScripts %}
  {% endblock %}
{% endblock %}
