{% extends "layout.njk" %}
{% from "partials/breadcrumbs.njk" import breadcrumbs with context %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set pageHeaderTitle = "Search for a prisoner" %}

{% block beforeContent %}
  {{ breadcrumbs() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "partials/errorSummary.njk" %}
      <h1 class="govuk-heading-xl">{{ pageHeaderTitle }}</h1>
    </div>
    {% include "partials/searchForPrisonerHeader.njk" %}
    <div class="govuk-grid-column-full govuk-!-padding-top-5">
    {% if results | length %}
      {% set pagination %}
        {{ mojPagination({
          results: {
            from: from,
            to: to,
            count: numberOfResults,
            text: "result" | pluralise(numberOfResults)
          },
          previous: {
            text: 'Previous',
            href: '/search/prisoner/results?search=' + search + '&page=' + previous
          } if numberOfResults > 10,
          next: {
            text: 'Next',
            href: '/search/prisoner/results?search=' + search + '&page=' + next
          } if numberOfResults > 10,
          items: pageLinks if numberOfResults > 10
        }) }}
      {% endset %}

      {{ govukTable({
          classes: "bapv-table govuk-!-margin-top-3",
          captionClasses: "govuk-table__caption--m",
          attributes: {
            "id": "search-results-true"
          },
          head: [
              {
                text: "Name"
              },
              {
                text: "Prison number"
              },
              {
                text: "Date of birth"
              }
          ],
          rows: results
      }) }}

      {{ pagination | safe }}
    {% elif errors | length %}
    {% else %}
        <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="search-results-none">{{ prisonerNotFoundMessage }}</p>
    {% endif %}
    </div>
  </div>

  {% if not results | length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Search by booking reference</h2>
      <p><a class="govuk-link--no-visited-state" href="/search/visit" data-test="search-by-reference">You can also search by booking reference</a></p>
    </div>
  </div>
  {% endif %}
{% endblock %}
