{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set pageHeaderTitle = "Search for a prisoner" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref %}/search/prisoner{% if visit %}-visit{% endif %}{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "partials/errorSummary.njk" %}
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    </div>
    {% include "partials/searchForPrisonerHeader.njk" %}
    <div class="govuk-grid-column-full govuk-!-padding-top-5">
    {% if results | length %}
      {% set pagination %}
        {{ mojPagination({
          results: {
            from: from,
            to: to,
            count: numberOfResults
          },
          previous: {
            text: 'Previous',
            href: backLinkHref + '?search=' + search + '&page=' + previous
          },
          next: {
            text: 'Next',
            href: backLinkHref + '?search=' + search + '&page=' + next
          },
          items: pageLinks
        }) }}
      {% endset %}

      {{ pagination | safe if numberOfResults > 10 }}

        {{ govukTable({
            classes: "bapv-table govuk-!-margin-top-3",
            captionClasses: "govuk-table__caption--m",
            attributes: {
              "id": "search-results-true"
            },
            head: [
                {
                  text: "Name"
                },
                {
                  text: "Prison number"
                },
                {
                  text: "Date of birth"
                }
            ],
            rows: results
        }) }}

      {{ pagination | safe if numberOfResults > 10 }}
    {% else %}
        <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="search-results-none">There are no results for this name or number at {{ establishment }}.
    {% endif %}
    </div>
  </div>
{% endblock %}
