{% extends "layout.njk" %}
{% from "partials/breadcrumbs.njk" import breadcrumbs with context %}

{% set pageHeaderTitle = "Search for a prisoner" %}
{% set pageTitle = pageHeaderTitle + " - " + applicationName %}

{% block beforeContent %}
  {{ breadcrumbs() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    </div>
    {% include "partials/searchForPrisonerHeader.njk" %}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Search by booking reference</h2>
      <p><a class="govuk-link--no-visited-state" href="/search/visit" data-test="search-by-reference">You can also search by booking reference</a></p>
    </div>
  </div>
{% endblock %}
