.visitor-restriction {
  margin-bottom: govuk-spacing(4);

  details {
    margin-top: govuk-spacing(2);
  }
}

.restriction-tag {
  margin-top: govuk-spacing(-1);
  max-width: unset;

  &--CHILD {
    @extend .govuk-tag--grey;
  }

  &--CLOSED {
    @extend .govuk-tag--purple;
  }

  &--NONCON {
    @extend .govuk-tag--green;
  }

  &--RESTRICTED {
    @extend .govuk-tag--pink;
  }

  &--PREINF {
    @extend .govuk-tag--orange;
  }

  &--DIHCON {
    @extend .govuk-tag--blue;
  }

  &--ACC {
    @extend .govuk-tag--turquoise;
  }

  &--CCTV {
    @extend .govuk-tag--yellow;
  }

  &--BAN {
    @extend .govuk-tag--red;
  }
}

.prisoner-restrictions {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5) govuk-spacing(5) 0;
}

.alert-tag {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid;
  color: #000;
  font-size: 14pt;
  line-height: 1;
  margin-right: 0;
  max-width: unset;
  padding: 8px 8px;

  &--C { // Child
    border-color: govuk-colour("bright-purple");
  }

  &--O { // Other
    border-color: govuk-colour("pink");
  }

  &--R { // Risk
    border-color: govuk-colour("red")
  }

  &--S { // Sexual
    border-color: govuk-colour("purple");
  }

  &--V { // Vulnerability
    border-color: govuk-colour("light-blue");
  }

  &--X { // Security
    border-color: govuk-colour("dark-blue");
  }
}
