.prisoner-profile-summary {
  @extend %govuk-list;
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(4) 2%;
  margin-bottom: govuk-spacing(6);

  li {
    @include govuk-media-query($from: mobile, $until: desktop) {
      flex-basis: 49%;
    }
    @include govuk-media-query($from: desktop) {
      flex-basis: 32%;
    }

    strong {
      margin-right: govuk-spacing(4);
      @include govuk-media-query($from: mobile, $until: desktop) {
        display: block;
      }
    }

    span {
      display: block;
    }
  }
}

.flagged-alerts-list {
  @extend %govuk-list;

  display: flex;
  flex-wrap: wrap;
}

.flagged-alert {

  color: white;
  margin-right: govuk-spacing(2);

  &--UPIU {
    background-color: govuk-colour("bright-purple");
  }

  &--RCDR {
    background-color: govuk-colour("dark-blue");
  }
  
  &--URCU {
    background-color: govuk-colour("purple");
  }
}
