.visitor-restriction {
  margin-bottom: govuk-spacing(4);

  details {
    margin-top: govuk-spacing(2);
  }
}

.restriction-tag {
  margin-top: govuk-spacing(-1);

  &--CHILD {
    @extend .govuk-tag--grey;
  }

  &--CLOSED {
    @extend .govuk-tag--purple;
  }

  &--NONCON {
    @extend .govuk-tag--green;
  }

  &--RESTRICTED {
    @extend .govuk-tag--pink;
  }

  &--PREINF {
    @extend .govuk-tag--orange;
  }

  &--DIHCON {
    @extend .govuk-tag--blue;
  }

  &--ACC {
    @extend .govuk-tag--turquoise;
  }

  &--CCTV {
    @extend .govuk-tag--yellow;
  }

  &--BAN {
    @extend .govuk-tag--red;
  }
}

.prisoner-restrictions {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5) govuk-spacing(5) 0;
}
