.vo-history-prisoner-details {
  @extend %govuk-list;
  display: flex;
  justify-content: space-between;
  gap: govuk-spacing(4) 2%;
  margin-bottom: govuk-spacing(6);

  li {
    flex-basis: auto;

    strong {
      margin-right: govuk-spacing(4);
    }

    span {
      white-space: nowrap;
    }
  }
}
