.visitor-restriction {
  margin-bottom: govuk-spacing(4);

  details {
    margin-top: govuk-spacing(2);
  }
}

.visitor-restriction-badge {
  margin-top: govuk-spacing(-1);

  &--CHILD {
    @extend .moj-badge--purple;
  }

  &--CLOSED {
    @extend .moj-badge--black;
  }

  &--NONCON {
    @extend .moj-badge--green;
  }

  &--RESTRICTED {
    @extend .moj-badge--bright-purple;
  }

  &--PREINF {
    @extend .moj-badge--purple;
  }

  &--DIHCON {
    @extend .moj-badge--grey;
  }

  &--ACC {
    @extend .moj-badge--blue;
  }

  &--CCTV {
    @extend .moj-badge--grey;
  }

  &--BAN {
    @extend .moj-badge--red;
  }
}

.prisoner-restrictions {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(5) govuk-spacing(5) 0;
}
