{% extends "layout.njk" %}

{% set pageHeaderTitle = "Booker details" %}

{% set backLinkHref = '/manage-bookers/search' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">{{ pageHeaderTitle }}</h1>

    </div>
  </div>
{% endblock %}
