{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageHeaderTitle = "Link a visitor" %}
{% set backLinkHref = '/TODO' %}

{% set contactRows = [] %}
{% for contact in allContacts %}
  {% set contactRows = (contactRows.push([
    {
      
      html:
        '<div class="govuk-radios__item ' + ("bapv-visibility-hidden" if not contact.dateOfBirth) + '">' +
          '<input class="govuk-radios__input" id="visitor-' + contact.visitorId + '" name="visitorId" type="radio" value="' + contact.visitorId + '"' + (" disabled" if not contact.dateOfBirth) + '>' +
          '<label class="govuk-label govuk-radios__label" for="visitor-' + contact.visitorId + '">' +
            '<span class="govuk-visually-hidden">Select contact ' + contact.visitorId + '</span>' +
          '</label>' +
        '</div>'
    },
    {
      text: contact.firstName + " " + contact.lastName,
      classes: "govuk-!-font-weight-bold bapv-vertical-align-middle"
    },
    {
      html: (contact.dateOfBirth | formatDate +
        '&nbsp(' + contact.dateOfBirth | displayAge + ')') if contact.dateOfBirth
        else "Not entered",
      classes: "bapv-vertical-align-middle"
    },
    {
      text: contact.lastApprovedForVisitDate | formatDate if contact.lastApprovedForVisitDate else "None",
      classes: "bapv-vertical-align-middle"
    }
  ]), contactRows)%}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">{{ pageHeaderTitle }}</h1>

      <h2 class="govuk-heading-l">Approved visitors for {{ (prisoner.firstName + " " + prisoner.lastName) | properCaseFullName }}</h2>

      <p class="bapv-secondary-text govuk-!-margin-bottom-6">
        Visitors already linked to this booker are not shown.
      </p>

      {% if showNoDobWarning %} {# If at least one visitor has no DOB #}
        {{ govukWarningText({
          text: "Contacts must have a date of birth before they can be added as a visitor.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <form action="/manage-bookers/{{ reference }}/prisoner/{{ prisoner.prisonerNumber }}/link-visitor" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukTable({
          head: [
            {
              text: "Select"
            },
            {
              text: "Name"
            },
            {
              text: "Date of birth"
            },
            {
              text: "Last visit approved on"
            }
          ],
          rows: contactRows
        }) }}

        {{ govukButton({
          text: "Link the selected visitor",
          attributes: { "data-test": "link-visitor" },
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true
        }) }} 
      </form>

    </div>
  </div>
{% endblock %}
