{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Notify the booker about the linked visitor" %}
{% set backLinkHref = '/manage-bookers/search' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you want to notify the booker?</h1>

      <p class="bapv-secondary-text">
        An automated email will be sent to tell the booker that they can book for {{ (prisoner.prisoner.firstName + " " + prisoner.prisoner.lastName) | properCaseFullName }}
      </p>

      <form action="/manage-bookers/{{ reference }}/prisoner/{{ prisoner.prisonerNumber }}/link-visitor/{{ visitorId }}/notify" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          name: "notifyBooker",
          items: [
            {
              value: "yes",
              text: "Yes, send an email"
            },
            {
              value: "no",
              text: "No, do not email"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Submit",
          attributes: { "data-test": "submit" },
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true
        }) }} 
      </form>

    </div>
  </div>
{% endblock %}
