{% extends "layout.njk" %}
{% from "partials/breadcrumbs.njk" import breadcrumbs with context %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageHeaderTitle = "Manage online bookers" %}

{% block beforeContent %}
  {{ breadcrumbs() }}
{% endblock %}

{% set visitorRequestRows = [] %}
{% for visitorRequest in visitorRequests %}
  {% set prisonerName = (visitorRequest.prisonerFirstName + " " + visitorRequest.prisonerLastName) | properCaseFullName %}

  {% set visitorRequestRows = (visitorRequestRows.push([
    {
      attributes: { "data-test": "prisoner-name-" + loop.index },
      text: prisonerName
    },
    {
      attributes: {
        "data-test": "booker-email-" + loop.index,
        "data-sort-value": visitorRequest.bookerEmail
      },
      classes: "bapv-force-overflow",
      text: visitorRequest.bookerEmail
    },
    {
      attributes: {
        "data-test": "visitor-name-" + loop.index,
        "data-sort-value": visitorRequest.lastName
      },
      text: visitorRequest.firstName + " " + visitorRequest.lastName
    },
    {
      attributes: {
        "data-test": "requested-date-" + loop.index,
        "data-sort-value": visitorRequest.requestedOn | formatDate("t")
      },
      text: visitorRequest.requestedOn | formatDate("d/M/yyyy")
    },
    {
      attributes: { "data-test": "action-" + loop.index },
      html: '<a class="govuk-link--no-visited-state" href="/manage-bookers/visitor-request/' + visitorRequest.reference + '/link-visitor" >' +
        'View<span class="govuk-visually-hidden"> visitor request for ' + (prisonerName | escape) + '</span></a>'
    }
  ]), visitorRequestRows) %}
{% endfor %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Messages #}
      {% for message in messages %}
        {{ mojAlert(message) }}
      {% endfor %}

      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      {# Booker search #}
      <h2 class="govuk-heading-m">Search for a booker</h2>

      <form action="/manage-bookers" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          label: {
            text: "Enter the booker’s email address"
          },
          classes: "govuk-!-width-one-half",
          name: "search",
          autocomplete: "off",
          value: formValues.search,
          spellcheck: false,
          errorMessage: errors | findError('search')
        }) }}

        {% if noBookerFound and formValues.search %}
          <p data-test="no-booker-found">There is no match for this email address.</p>
        {% endif %}

        {{ govukButton({
          text: "Search",
          attributes: { "data-test": "search" },
          classes: "govuk-!-margin-top-3",
          preventDoubleClick: true
        }) }} 
      </form>

      {% if features.visitorRequests.enabled %}
        {# Visitor requests #}
        <h2 class="govuk-heading-m">Requests to link visitors</h2>

        {% if visitorRequestRows | length %}

          {{ govukTable({
            attributes: {
              "data-module": "moj-sortable-table",
              "data-test": "visit-requests"
            },
            head: [
              {
                text: "Prisoner name",
                attributes: { "aria-sort": "none" }
              },
              {
                text: "Booker email",
                attributes: { "aria-sort": "none" }
              },
              {
                text: "Visitor name",
                attributes: { "aria-sort": "none" }
              },
              {
                text: "Requested on",
                attributes: { "aria-sort": "ascending" }
              },
              {
                text: "Action"
              }
            ],
            rows: visitorRequestRows
          }) }}

        {% else %}
          <p data-test="no-visitor-requests">There are no requests to link visitors.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
