generic-service:
  nameOverride: book-a-prison-visit-staff-ui

  replicaCount: 4
  serviceAccountName: visit-someone-in-prison
  productId: "DPS035"

  image:
    repository: ghcr.io/ministryofjustice/book-a-prison-visit-staff-ui
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: manage-prison-visits-cert

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    REDIS_TLS_ENABLED: "true"
    TOKEN_VERIFICATION_ENABLED: "true"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"
    AUDIT_SERVICE_NAME: "book-a-prison-visit-staff-ui"
    MAINTENANCE_MODE: "false"
    # Optional maintenance end date (in ISO format, YYYY-MM-DDTHH:MM)
    MAINTENANCE_MODE_END_DATE_TIME: ""
    MATOMO_ENABLED: "false"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    book-a-prison-visit-staff-ui:
      APPINSIGHTS_INSTRUMENTATIONKEY: "APPINSIGHTS_INSTRUMENTATIONKEY"
      API_CLIENT_ID: "API_CLIENT_ID"
      API_CLIENT_SECRET: "API_CLIENT_SECRET"
      SYSTEM_CLIENT_ID: "SYSTEM_CLIENT_ID"
      SYSTEM_CLIENT_SECRET: "SYSTEM_CLIENT_SECRET"
      SESSION_SECRET: "SESSION_SECRET"
      GOVUK_NOTIFY_API_KEY: "GOVUK_NOTIFY_API_KEY"
    sqs-hmpps-audit-secret:
      AUDIT_SQS_QUEUE_URL: "sqs_queue_url"
    elasticache-redis-staff:
      REDIS_HOST: "primary_endpoint_address"
      REDIS_AUTH_TOKEN: "auth_token"

  allowlist:
    groups:
      - internal
      - prisons

generic-prometheus-alerts:
  targetApplication: book-a-prison-visit-staff-ui
