{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageHeaderTitle = displayName %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}
{% set backLinkHref = "/search/prisoner" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      {% if flaggedAlerts.length %}
      <ul class="flagged-alerts-list">
        {% for alert in flaggedAlerts %}
        <li>
          {{ govukTag({
            text: alert.alertCodeDescription,
            classes: "flagged-alert flagged-alert--" + alert.alertCode
          }) }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <ul class="prisoner-profile-summary">
        <li>
          <strong>Prison number</strong>
          <span data-test="prison-number">{{ inmateDetail.offenderNo }}</span>
        </li>
        <li>
          <strong>Date of birth</strong>
          <span data-test="dob">{{ displayDob }}</span>
        </li>
        <li>
          <strong>Location</strong>
          <span data-test="location">{{ inmateDetail.assignedLivingUnit.description + ", " + inmateDetail.assignedLivingUnit.agencyName if inmateDetail.assignedLivingUnit}}</span>
        </li>
        <li>
          <strong>Category</strong>
          <span data-test="category">{{ inmateDetail.category }}</span>
        </li>
        <li>
          <strong>Incentive level</strong>
          <span data-test="iep-level">{{ inmateDetail.privilegeSummary.iepLevel }}</span>
        </li>
        <li>
          <strong>Conviction status</strong>
          <span data-test="convicted-status">{{ convictedStatus }}</span>
        </li>
        <li>
          <strong>Alerts</strong>
          <span data-test="active-alert-count">{{ inmateDetail.activeAlertCount }} active</span>
        </li>
        {% if visitBalances %}
        <li>
          <strong>Visiting orders</strong>
          <span data-test="remaining-vos">Remaining VOs: {{ visitBalances.remainingVo }}</span>
          <span data-test="remaining-pvos">Remaining PVOs: {{ visitBalances.remainingPvo }}</span>
        </li>
        {% endif %}
      </ul>

      <form action="/prisoner/{{ inmateDetail.offenderNo }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
          text: "Book a prison visit",
          attributes: { "data-test": "book-a-visit" }
        }) }}
      </form>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% set visitingOrdersTab %}
    <h2 class="govuk-heading-m">Visiting orders</h2>
    {{ govukTable({
      head: [
        {
          text: "Type"
        },
        {
          text: "Balance"
        },
        {
          text: "Last allocation date"
        },
        {
          text: "Next allocation date"
        }
      ],
      rows: [
        [
          {
            html: "<strong>VO</strong>"
          },
          {
            text: visitBalances.remainingVo,
            attributes: {
              "data-test": "tab-vo-remaining"
            }
          },
          {
            text: visitBalances.latestIepAdjustDate,
            attributes: {
              "data-test": "tab-vo-last-date"
            }
          },
          {
            text: visitBalances.nextIepAdjustDate,
            attributes: {
              "data-test": "tab-vo-next-date"
            }
          }
        ],
        [
          {
            html: "<strong>PVO</strong>"
          },
          {
            text: visitBalances.remainingPvo,
            attributes: {
              "data-test": "tab-pvo-remaining"
            }
          },
          {
            text: visitBalances.latestPrivIepAdjustDate,
            attributes: {
              "data-test": "tab-pvo-last-date"
            }
          },
          {
            text: visitBalances.nextPrivIepAdjustDate,
            attributes: {
              "data-test": "tab-pvo-next-date"
            }
          }
        ]
      ]
    }) }}
    {% endset %}
    {% set alertsTab %}
    <h2 class="govuk-heading-m">Active alerts</h2>
    {% if activeAlerts | length %}
      {{ govukTable({
        head: [
          {
            text: "Type of alert",
            classes: "bapv-table_cell--nowrap"
          },
          {
            text: "Alert"
          },
          {
            text: "Comments"
          },
          {
            text: "Date from",
            classes: "bapv-table_cell--nowrap"
          },
          {
            text: "Date to",
            classes: "bapv-table_cell--nowrap"
          }
        ],
        rows: activeAlerts
      }) }}
    {% else %}
    <p>There are no active alerts for this prisoner.</p>
    {% endif %}
    {% endset %}
    {% set upcomingVisitsTab %}
    <h2 class="govuk-heading-m">Upcoming visits</h2>
    {% if upcomingVisits | length %}
      {{ govukTable({
        head: [
          {
            text: "Visit type"
          },
          {
            text: "Location"
          },
          {
            text: "Date and time"
          },
          {
            text: "Visitors"
          }
        ],
        rows: upcomingVisits
      }) }}
    {% else %}
    <p>There are no upcoming visits for this prisoner.</p>
    {% endif %}
    {% endset %}
    {% set pastVisitsTab %}
    <h2 class="govuk-heading-m">Visits history</h2>
    {% if pastVisits | length %}
      {{ govukTable({
        head: [
          {
            text: "Visit type"
          },
          {
            text: "Location"
          },
          {
            text: "Date and time"
          },
          {
            text: "Visitors"
          },
          {
            text: "Visit status"
          }
        ],
        rows: pastVisits
      }) }}
    {% else %}
    <p>There no visit history for this prisoner.</p>
    {% endif %}
    {% endset %}
    {{ govukTabs({
      items: [
        {
          label: "Visiting orders",
          id: "visiting-orders",
          panel: {
            html: visitingOrdersTab
          }
        } if visitBalances,
        {
          label: "Active alerts",
          id: "active-alerts",
          panel: {
            html: alertsTab
          }
        },
        {
          label: "Upcoming visits",
          id: "upcoming-visits",
          panel: {
            html: upcomingVisitsTab
          }
        },
        {
          label: "Visits history",
          id: "visits-history",
          panel: {
            html: pastVisitsTab
          }
        }
      ]
    }) }}
    </div>
  </div>
{% endblock %}
