{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = prisonerName | properCaseFullName %}
{% set pageTitle = applicationName + " - Upcoming Visits - " + pageHeaderTitle %}
{% set query = '?' + queryParamsForBackLink if queryParamsForBackLink != '' %}
{% if queryParamsForBackLink %}
  {% set backLinkHref = "/search/prisoner-visit/results?" + queryParamsForBackLink %}
{% else %}
  {% set backLinkHref = "/search/prisoner-visit" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <p><strong class="govuk-!-margin-right-2">Prison number:</strong> <span data-test="prisoner-number">{{ offenderNo }}</span></p>

      <h2 class="govuk-heading-m">Upcoming visits:</h2>
  
      {% if visits | length %}

        {% set visitRows = [] %}
        {% for visit in visits %}
          {% set visitRows = (visitRows.push([
            {
              html: '<a href="/visit/' + visit.reference + '">' + visit.reference + '</a>',
              attributes: { "data-test": "visit-reference-" + loop.index }
            },
            {
              text: visit.mainContact | formatLastNameFirst,
              attributes: { "data-test": "visit-mainContact-" + loop.index }
            },
            {
              text: visit.visitDate,
              attributes: { "data-test": "visit-date-" + loop.index }
            },
            {
              text: visit.visitStatus | capitalize,
              attributes: { "data-test": "visit-status-" + loop.index }
            }
          ]), visitRows) %}
        {% endfor %}
        {{ govukTable({
            classes: "bapv-table govuk-!-margin-top-3",
            head: [
                {
                  text: "Booking reference"
                },
                {
                  text: "Main contact"
                },
                {
                  text: "Visit date"
                },
                {
                  text: "Visit status"
                }
            ],
            rows: visitRows
        }) }}

      {% else %}
        <p>There are no upcoming visits for this prisoner.</p>

        {{ govukButton({
          text: "Go to manage prison visits",
          classes: "govuk-!-margin-top-3",
          href: "/",
          attributes: { "data-test": "go-to-start" },
          preventDoubleClick: true
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
