{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% set pageHeaderTitle = "View visits by date" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}
{% set backLinkHref = "/" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation bapv-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          {% for dateTab in dateTabs %}
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" {% if dateTab.active %}aria-current="page"{% endif %} href="{{ dateTab.href }}">{{ dateTab.text }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="bapv-another-date">
          <div class="bapv-another-date__toggle">
            <button type="button" aria-haspopup="true" aria-expanded="false">View another date
              <svg viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.94118 2.47059C4.94118 1.10612 6.0473 0 7.41176 0C8.77623 0 9.88235 1.10612 9.88235 2.47059V4.89474H18.1176V2.47059C18.1176 1.10612 19.2238 0 20.5882 0C21.9527 0 23.0588 1.10612 23.0588 2.47059V4.89474H24.7059C26.5252 4.89474 28 6.3557 28 8.15789V27.7368C28 29.539 26.5252 31 24.7059 31H3.29412C1.47483 31 0 29.539 0 27.7368V8.15789C0 6.3557 1.47483 4.89474 3.29412 4.89474H4.94118V2.47059ZM24.7059 9.78947H3.29412L3.29412 27.7368H24.7059V9.78947ZM9.88235 13.0526V17.9474H4.94118V13.0526H9.88235ZM9.88235 24.4737V19.5789H4.94118V24.4737H9.88235ZM11.5294 13.0526H16.4706V17.9474H11.5294V13.0526ZM16.4706 19.5789H11.5294V24.4737H16.4706V19.5789ZM23.0588 13.0526V17.9474H18.1176V13.0526H23.0588ZM23.0588 24.4737V19.5789H18.1176V24.4737H23.0588Z"></path>
              </svg>
            </button>
          </div>
          <div class="bapv-another-date__form moj-js-hidden">
            <form action="" method="POST" novalidate>
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              {{ govukDateInput({
                id: "date-picker",
                namePrefix: "date-picker",
                hint: {
                  text: "Enter a date"
                }
              }) }}
              {{ govukButton({
                text: "View"
              }) }}
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="govuk-grid-row">
    {% if results | length %}
      <div class="govuk-grid-column-one-quarter">
        {{ mojSideNavigation({
        label: 'Slots navigation',
        classes: 'govuk-!-padding-top-0',
        sections: slotsNav
        }) }}

      <h3 class="govuk-heading-s">Visitor list</h3>
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Download CSV"
        }) }}
        {{ govukButton({
            text: "Print",
            classes: "govuk-button--secondary"
        }) }}
      </div>

      <h3 class="govuk-heading-s">Prisoner list</h3>
      <div class="govuk-button-group">
        {{ govukButton({
            text: "Download CSV"
        }) }}
        {{ govukButton({
            text: "Print",
            classes: "govuk-button--secondary"
        }) }}
      </div>
    </div>

    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m"><span data-test="visit-room">{% if visitType == 'OPEN' %}Main{% else %}Closed{% endif %}</span> visits room, <span data-test="visit-time">{{ slotTime }}</span></h2>
      <p><span data-test="visit-tables-booked">{{ numberOfResults }} of {{ maxSlots }}</span> tables booked</p>
      <p><span data-test="visit-visitors-total">{{ totals.visitors }}</span> visitors in total (<span data-test="visit-adults">{{ totals.adults }}</span> adult{% if totals.adults != 1 %}s{% endif %} and <span data-test="visit-children">{{ totals.children }}</span> child{% if (totals.children != 1) %}ren{% endif %})</p>
        {% set pagination %}
          {{ mojPagination({
            results: {
              from: from,
              to: to,
              count: numberOfResults
            },
            previous: {
              text: 'Previous',
              href: '/visits?' + queryParams + '&page=' + previous
            } if numberOfResults > 10,
            next: {
              text: 'Next',
              href: '/visits?' + queryParams + '&page=' + next
            } if numberOfResults > 10,
            items: pageLinks if numberOfResults > 10
          }) }}
        {% endset %}
        {{ pagination | safe }}
        {{ govukTable({
          classes: "bapv-table govuk-!-margin-top-3",
          head: [
              {
                text: "Prisoner name"
              },
              {
                text: "Prison number"
              },
              {
                text: "Action",
                classes: "govuk-!-text-align-right"
              }
          ],
          rows: results
        }) }}
        {{ pagination | safe }}
      </div>
    {% else %}
      <div class="govuk-grid-column-full">
        <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="search-results-none">No visit sessions on this day.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/assets/viewVisitsDatePicker.js"></script>
{% endblock %}

