---
# Per environment values which override defaults in book-a-prison-visit-staff-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: manage-prison-visits.prison.service.justice.gov.uk

  env:
    INGRESS_URL: "https://manage-prison-visits.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    ORCHESTRATION_API_URL: "https://hmpps-manage-prison-visits-orchestration.prison.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search.prison.service.justice.gov.uk"
    PRISONER_CONTACT_REGISTRY_API_URL: "https://prisoner-contact-registry.prison.service.justice.gov.uk"
    COMPONENT_API_URL: https://frontend-components.hmpps.service.justice.gov.uk
    DPS_URL: "https://dps.prison.service.justice.gov.uk/"
    DPS_PRISONER_URL: "https://prisoner.digital.prison.service.justice.gov.uk/"
    ENVIRONMENT_NAME: prod

    FEATURE_VISITOR_REQUESTS: "true"
    FEATURE_VO_HISTORY: "true"

    REDIS_KEY: "bapv-staff-prod"

generic-prometheus-alerts:
  alertSeverity: visits-alerts
