# Per environment values which override defaults in book-a-prison-visit-staff-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: manage-prison-visits-dev.prison.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    INGRESS_URL: "https://manage-prison-visits-dev.prison.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    ORCHESTRATION_API_URL: "https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search-dev.prison.service.justice.gov.uk"
    PRISONER_CONTACT_REGISTRY_API_URL: "https://prisoner-contact-registry-dev.prison.service.justice.gov.uk"
    COMPONENT_API_URL: https://frontend-components-dev.hmpps.service.justice.gov.uk
    DPS_URL: "https://dps-dev.prison.service.justice.gov.uk/"
    DPS_PRISONER_URL: "https://prisoner-dev.digital.prison.service.justice.gov.uk/"
    REDIS_KEY: "bapv-staff-dev"
    ENVIRONMENT_NAME: dev
    MATOMO_CONTAINER_ID: "dev_ee2d6160af4f7e47066b22e2"
    MATOMO_SITE_ID: "1"
    MATOMO_ENABLED: "true"

    FEATURE_VISITOR_REQUESTS: "true"
    FEATURE_VO_ADJUSTMENT: "true"
    FEATURE_VO_HISTORY: "true"

  allowlist:
    groups:
      - internal
      - prisons
      - circleci

generic-prometheus-alerts:
  alertSeverity: visits-alerts-nonprod
  businessHoursOnly: true
