{% extends "layout.njk" %}
{% from "partials/breadcrumbs.njk" import breadcrumbs with context %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% set pageHeaderTitle = "View visits by date" %}

{% block beforeContent %}
  {{ breadcrumbs() }}
{% endblock %}

{% macro renderVisitsSection(type) %}
  {% set visitsSection = visits[type | upper] %}
  {% set capacity = sessionSchedule.capacity[type] %}

  {% if capacity or (visitsSection.visits | length) %}
    <h3 class="govuk-heading-m govuk-!-margin-top-7" data-test="visit-section-heading-{{ type }}">
      {{- ("all" if type == "unknown" else type) | capitalize }} visits
    </h3>

    <p data-test="visit-tables-booked-{{ type}}">
      {{ visitsSection.visits | length }}{{ (" of " + capacity) if capacity }} {{ "table" | pluralise(capacity or visitsSection.visits | length)}} booked
    </p>

    {% if visitsSection.visits | length %}
      <p data-test="visit-visitors-total-{{ type}}">
        {{- visitsSection.numVisitors }} {{ "visitor" | pluralise(visitsSection.numVisitors) -}}
      </p>

      {% set visitsRows = [] %}
      {% for visit in visitsSection.visits %}
        {% set visitsRows = (visitsRows.push([
          {
            text: visit.lastName | capitalize + ", " + visit.firstName | capitalize,
            attributes: { "data-test": "prisoner-name" }
          },
          {
            text: visit.prisonerId,
            attributes: { "data-test": "prisoner-number" }
          },
          {
            text: visit.firstBookedDateTime | formatDate("d MMMM") +
              " at " + visit.firstBookedDateTime | formatTime,
            attributes: {
              "data-test": "booked-on",
              "data-sort-value": visit.firstBookedDateTime | formatDate("t")
            }
          },
          {
            classes: "govuk-!-text-align-right",
            html: '<a href="/visit/' + visit.visitReference + '?' + queryParamsForBackLink +
              '" class="govuk-link--no-visited-state" data-test="view-visit-link">View</a>'
          }
        ]), visitsRows) %}
      {% endfor %}

        {{ govukTable({
          attributes: {
            "data-module": "moj-sortable-table",
            "data-test": "visits-" + type
          },
          classes: "bapv-table govuk-!-margin-top-3 govuk-!-margin-bottom-9",
          head: [
            {
              text: "Prisoner name",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Prison number",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Booked on",
              attributes: {
                "aria-sort": "descending",
                "data-test": "header-booked-on"
              }
            },
            {
              text: "Action",
              classes: "govuk-!-text-align-right"
            }
          ],
          rows: visitsRows
        }) }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ pageHeaderTitle }}</h1>
      {% include "partials/errorSummary.njk" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation bapv-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          {% for dateTab in dateTabs %}
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" {% if dateTab.active %}aria-current="page"{% endif %} href="{{ dateTab.href }}">{{ dateTab.text }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="bapv-another-date">
          <div class="bapv-another-date__toggle">
            <button type="button" aria-haspopup="true" aria-expanded="false" data-test="another-date-button">View another date
              <svg viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.94118 2.47059C4.94118 1.10612 6.0473 0 7.41176 0C8.77623 0 9.88235 1.10612 9.88235 2.47059V4.89474H18.1176V2.47059C18.1176 1.10612 19.2238 0 20.5882 0C21.9527 0 23.0588 1.10612 23.0588 2.47059V4.89474H24.7059C26.5252 4.89474 28 6.3557 28 8.15789V27.7368C28 29.539 26.5252 31 24.7059 31H3.29412C1.47483 31 0 29.539 0 27.7368V8.15789C0 6.3557 1.47483 4.89474 3.29412 4.89474H4.94118V2.47059ZM24.7059 9.78947H3.29412L3.29412 27.7368H24.7059V9.78947ZM9.88235 13.0526V17.9474H4.94118V13.0526H9.88235ZM9.88235 24.4737V19.5789H4.94118V24.4737H9.88235ZM11.5294 13.0526H16.4706V17.9474H11.5294V13.0526ZM16.4706 19.5789H11.5294V24.4737H16.4706V19.5789ZM23.0588 13.0526V17.9474H18.1176V13.0526H23.0588ZM23.0588 24.4737V19.5789H18.1176V24.4737H23.0588Z"></path>
              </svg>
            </button>
          </div>
          <div class="bapv-another-date__form moj-js-hidden">
            <form action="" method="POST" novalidate>
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ mojDatePicker({
                  id: "date",
                  name: "date",
                  label: {
                    text: "Date",
                    classes: "govuk-label--s"
                  },
                  hint: {
                    text: "For example, 31/3/2022"
                  },
                  errorMessage: errors | findError('date'),
                  value: formValues.date
                }) }}
                {{ govukButton({
                  text: "View",
                  preventDoubleClick: true,
                  attributes: { "data-test": "submit" }
                }) }}
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="govuk-grid-row">

    {% set selectedTimeSlotLabel = "" %}
    {% if sessionsSideNav | length %}
      <div class="govuk-grid-column-one-quarter">
        {# build side nav time slot nav for each visit room #}
        {% set sessionSideNavSections = [] %}
        {% for heading, items in sessionsSideNav %}
          {% set sectionItems = [] %}
          {% for item in items %}
            {% set sectionItems = (sectionItems.push({
                html: item.times + '<span class="govuk-visually-hidden"> - ' + heading | escape + '</span>',
                href: "/visits?" + item.queryParams,
                active: item.active
              }), sectionItems) %}
            {% set selectedTimeSlotLabel = item.times if item.active else selectedTimeSlotLabel %}
          {% endfor %}
          {% set sessionSideNavSections = (sessionSideNavSections.push({
            heading: {
              text: heading,
              classes: "govuk-!-padding-top-0"
            },
            items: sectionItems
          }), sessionSideNavSections) %}
        {% endfor %}

        {{ mojSideNavigation({
          label: 'Slots navigation',
          classes: 'govuk-!-padding-top-0',
          sections: sessionSideNavSections
        }) }}
      </div>
    {% endif %}

    <div class="govuk-grid-column-three-quarters">
      {% if sessionsSideNav | length %}
        {% if sessionSchedule %}
          <span class="govuk-caption-l" data-test="visit-room-caption">{{ sessionSchedule.visitRoom }}</span>
        {% endif %}
        <h2 class="govuk-heading-l">Visits from {{ selectedTimeSlotLabel }}</h2>

        {{ renderVisitsSection('closed') }}
        {{ renderVisitsSection('open') }}
        {{ renderVisitsSection('unknown') }}

      {% else %}
        <p class="govuk-!-margin-top-0" data-test="no-visits-message">
          {% if isAnExcludeDateWithVisitNotifications %}
            This date has been blocked for social visits. There are existing bookings that <a href="/review" class="govuk-link--no-visited-state">need review</a>.
          {% elseif isAnExcludeDate %}
            This date has been blocked for social visits. There are no existing bookings to cancel.
          {% else %}
            No visit sessions on this day.
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/assets/viewVisitsDatePicker.js"></script>
{% endblock %}

