{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Select establishment" %}
{% set pageTitle %}
    {% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% set backLinkHref = backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if availablePrisons | length %}
        {% set radios = [] %}
        {% for prisonId, prisonName in availablePrisons %}
          {%- set radios = (radios.push({
            value: prisonId,
            html: '<p class="bapv-radio-paragraph">' + prisonName + '</p>',
            id: prisonId,
            checked: selectedEstablishment.prisonId == prisonId
          }), radios) %}
        {% endfor %}

        {% include "partials/errorSummary.njk" %}

        <form action="/change-establishment?referrer={{ referrer }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukRadios({
          name: "establishment",
          fieldset: {
            legend: {
              text: pageHeaderTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radios,
          errorMessage: errors | findError('establishment')
        })}}
        {{ govukButton({
          text: "Submit",
          preventDoubleClick: true,
          attributes: { "data-test": "submit" }
        }) }} 
        </form>

      {% else %}

        <h1 class="govuk-heading-l">You do not have access to an establishment that uses this service</h1>

        <p>This is a new service and only some establishments are using it.</p>

        {{ govukButton({
          classes: "govuk-!-margin-top-5",
          text: "Select a different service",
          href: dpsHome,
          attributes: { "data-test": "go-to-dps" },
          preventDoubleClick: true
        }) }}

      {% endif %}
    </div>
  </div>
{% endblock %}
