{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Check the visit details before booking" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "partials/errorSummary.njk" %}
        <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
        <p>A booking reference will be provided once the booking is confirmed.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Prisoner details</h2>
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: prisoner.name,
                        classes: "test-prisoner-name"
                    }
                },
                {
                    key: {
                        text: "Prison number"
                    },
                    value: {
                        text: prisoner.offenderNo,
                        classes: "test-prisoner-offenderno"
                    }
                },
                {
                    key: {
                        text: "Date of birth"
                    },
                    value: {
                        text: prisoner.dateOfBirth,
                        classes: "test-prisoner-dateofbirth"
                    }
                },
                {
                    key: {
                        text: "Location"
                    },
                    value: {
                        text: prisoner.location,
                        classes: "test-prisoner-location"
                    }
                }
            ]
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Visit details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/book-a-visit/select-date-and-time" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Date"
                    },
                    value: {
                        text: visit.startTimestamp | formatDate("EEEE d MMMM yyyy"),
                        classes: "test-visit-date"
                    }
                },
                {
                    key: {
                        text: "Time"
                    },
                    value: {
                        text: visit.startTimestamp | formatTime + " to " + visit.endTimestamp | formatTime,
                        classes: "test-visit-time"
                    }
                },
                {
                    key: {
                        text: "Visit type"
                    },
                    value: {
                        text: visitRestriction | capitalize,
                        classes: "test-visit-type"
                    }
                }
            ]
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Visitor details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/book-a-visit/select-visitors" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {%- for visitor in visitors %}
            <h3 class="govuk-heading-m">Visitor {{ loop.index }}</h3>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: visitor.name | safe+ " (" + (visitor.relationshipDescription | lower) + " of the prisoner)",
                            classes: "test-visitor-name" + loop.index
                        }
                    },
                    {
                        key: {
                            text: "Address"
                        },
                        value: {
                            text: visitor.address | replace("<br>", " "),
                            classes: "test-visitor-address" + loop.index
                        }
                    }
                ]
            }) }}
        {% endfor %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Additional support requests</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/book-a-visit/additional-support" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set additionalSupportRows = [] %}
        {% for item in additionalSupport %}
          {% set additionalSupportRows = (additionalSupportRows.push(
            {
              key: {
                text: "Request " + loop.index
              },
              value: {
                text: item,
                classes: "test-additional-support" + loop.index
              }
            }
          ), additionalSupportRows) %}
        {% else %}
          {% set additionalSupportRows = (additionalSupportRows.push(
            {
              key: {
                text: "Request 1"
              },
              value: {
                text: "None",
                classes: "test-additional-support1"
              }
            }
          ), additionalSupportRows) %}
        {% endfor %}
        {{ govukSummaryList({
            rows: additionalSupportRows
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Contact details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/book-a-visit/select-main-contact" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set contactName %}
        {% if mainContact.contactName %}
        {{ mainContact.contactName | safe }}
        {% else %}
        {{ mainContact.contact.name | safe + " (" + (mainContact.contact.relationshipDescription | lower) + " of the prisoner)" }}
        {% endif %}
        {% endset %}
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Main contact"
                    },
                    value: {
                        text: contactName,
                        classes: "test-main-contact-name"
                    }
                },
                {
                    key: {
                        text: "Phone number"
                    },
                    value: {
                        text: mainContact.phoneNumber,
                        classes: "test-main-contact-number"
                    }
                }
            ]
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="/book-a-visit/check-your-booking" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukButton({
                text: "Submit booking"
            }) }}
        </form>
    </div>
</div>
{% endblock %}
