{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageHeaderTitle = "Booking confirmed" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "partials/errorSummary.njk" %}
        <h1 class="govuk-heading-l"></h1>
        {{ govukPanel({
            titleText: pageHeaderTitle,
            html: "The reference number is<br><strong>" + visitId
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "partials/errorSummary.njk" %}
        <h2 class="govuk-heading-m">What to do next</h2>
        <p>Let the caller know:</p>
        <ul>
            <li>the main contact will receive a text message with the reference number and visit details</li>
            <li>they will need the reference number to <a href="#">cancel or amend the booking</a></li>
            <li>changes to the booking can be made up to 2 working days before the visit</li>
            <li>who can <a href="#">get help with the cost of visits</a></li>
        </ul>
        <p>To prepare for the visit day, tell them:</p>
        <ul>
            <li>what time to arrive for the visit</li>
            <li>all adult visitors will need to bring <a href="#">acceptable forms of ID</a></li>
            <li>any COVID-19 requirements (such as face coverings and lateral flow tests)</li>
            <li>any prison specific rules (such as clothing guidelines)</li>
        </ul>
        {{ govukButton({
            text: "Manage prison visits"
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Visit details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/visit/select-date-and-time" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Date"
                    },
                    value: {
                        text: visit.startTimestamp | formatDate("EEEE d MMMM yyyy"),
                        classes: "test-visit-date"
                    }
                },
                {
                    key: {
                        text: "Time"
                    },
                    value: {
                        text: visit.startTimestamp | formatTime + " to " + visit.endTimestamp | formatTime,
                        classes: "test-visit-time"
                    }
                },
                {
                    key: {
                        text: "Visit type"
                    },
                    value: {
                        text: "Open"
                    }
                }
            ]
        }) }}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Visitor details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/visit/select-visitors" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {%- for visitor in visitors %}
            <h3 class="govuk-heading-m">Visitor {{ loop.index }}</h3>
            {{ govukSummaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: visitor.name + " (" + (visitor.relationshipDescription | lower) + " of the prisoner)",
                            classes: "test-visitor-name" + loop.index
                        }
                    },
                    {
                        key: {
                            text: "Address"
                        },
                        value: {
                            text: visitor.address | replace("<br>", " "),
                            classes: "test-visitor-address" + loop.index
                        }
                    }
                ]
            }) }}
        {% endfor %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Additional support</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/visit/additional-support" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set additionalSupportRows = [] %}
        {% for item in additionalSupport %}
          {% set additionalSupportRows = (additionalSupportRows.push(
            {
              key: {
                text: "Request " + loop.index
              },
              value: {
                text: item,
                classes: "test-additional-support" + loop.index
              }
            }
          ), additionalSupportRows) %}
        {% endfor %}
        {% if (additionalSupportRows | length) %}
            {{ govukSummaryList({
                rows: additionalSupportRows
            }) }}
        {% else %}
        <p data-test="no-addition-support-chosen">No additional support options were chosen.</p>
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Contact details</h2>
    </div>
    <div class="govuk-grid-column-one-half bapv-change-details-link">
        <a href="/visit/select-main-contact" class="govuk-link">Change</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set contactName %}
        {% if mainContact.contactName %}
        {{ mainContact.contactName }}
        {% else %}
        {{ mainContact.contact.name + " (" + (mainContact.contact.relationshipDescription | lower) + " of the prisoner)" }}
        {% endif %}
        {% endset %}
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Main contact"
                    },
                    value: {
                        text: contactName,
                        classes: "test-main-contact-name"
                    }
                },
                {
                    key: {
                        text: "Phone number"
                    },
                    value: {
                        text: mainContact.phoneNumber,
                        classes: "test-main-contact-number"
                    }
                }
            ]
        }) }}
    </div>
</div>
{% endblock %}
