{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageHeaderTitle = "Select date and time of visit" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref = "/visit/select-visitors" %}

{% macro buildSlotsRadioItems(slotsList, radios) %}
  {% for slot in slotsList %}
    {% set tableText %}
      {% if slot.availableTables === 0 %}Fully booked{% endif %}
      {% if slot.availableTables === 1 %}1 table available{% endif %}
      {% if slot.availableTables > 1 %}{{ slot.availableTables }} tables available{% endif %}
    {% endset %}

    {%- set checked = true if formValues['visit-date-and-time'] and formValues['visit-date-and-time'] == slot.id else false %}

    {%- set radios = (radios.push({
      value: slot.id,
      html: '<p class="bapv-radio-paragraph"><strong>' + slot.startTimestamp | formatTime +
        " to " + slot.endTimestamp | formatTime + "</strong><br>" + tableText + "</p>",
      id: slot.id,
      checked: checked,
      disabled: slot.availableTables === 0
    }), radios) %}
  {% endfor %}
{% endmacro %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "partials/errorSummary.njk" %}

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    <p><strong>Prisoner name:</strong> <span data-test="prisoner-name">{{ prisonerName }}</span></p>

    <p><strong>Visit type:</strong> Open</p>

    {% if slotsList | length %}
    <p>Showing visit time slots for the next 28 days.</p>
    <form action="/visit/select-date-and-time" method="GET" novalidate>
      <div class="bapv-visit-date-time-filter">
        <h3 class="govuk-heading-s">Filter time slots</h3>
        <div class="govuk-button-group">
          {{ govukSelect({
            id: "timeOfDay",
            name: "timeOfDay",
            label: {
              text: "Time of day"
            },
            items: [
              {
                value: "",
                text: "Any"
              },
              {
                value: "morning",
                text: "Morning",
                selected: timeOfDay == "morning"
              },
              {
                value: "afternoon",
                text: "Afternoon",
                selected: timeOfDay == "afternoon"
              }
            ]
          }) }}
          {{ govukSelect({
            id: "dayOfTheWeek",
            name: "dayOfTheWeek",
            label: {
              text: "Day of the week"
            },
            items: [
              {
                value: "",
                text: "All"
              },
              {
                value: "1",
                text: "Monday",
                selected: dayOfTheWeek == "1"
              },
              {
                value: "2",
                text: "Tuesday",
                selected: dayOfTheWeek == "2"
              },
              {
                value: "3",
                text: "Wednesday",
                selected: dayOfTheWeek == "3"
              },
              {
                value: "4",
                text: "Thursday",
                selected: dayOfTheWeek == "4"
              },
              {
                value: "5",
                text: "Friday",
                selected: dayOfTheWeek == "5"
              },
              {
                value: "6",
                text: "Saturday",
                selected: dayOfTheWeek == "6"
              },
              {
                value: "0",
                text: "Sunday",
                selected: dayOfTheWeek == "0"
              }
            ]
          }) }}
      
          {{ govukButton({
            text: "Apply filters"
          }) }} 
        </div>
      </div>
    </form>

    <form action="/visit/select-date-and-time" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% for month, days in slotsList %}
      <h2 class="govuk-heading-m" data-test="month">{{ month }}</h2>
      {% set accordion = [] %}
      {% for day in days %}

        {%- set morningSlotsList = [] %}
        {{ buildSlotsRadioItems(day.slots.morning, morningSlotsList) }}
        {%- set morningHtml %}
          <h3 class="govuk-heading-s">Morning</h3>
          {{ govukRadios({
            name: "visit-date-and-time",
            items: morningSlotsList
          }) }}
        {% endset %}

        {%- set afternoonSlotsList = [] %}
        {{ buildSlotsRadioItems(day.slots.afternoon, afternoonSlotsList) }}
        {%- set afternoonHtml %}
          <h3 class="govuk-heading-s">Afternoon</h3>
          {{ govukRadios({
            name: "visit-date-and-time",
            items: afternoonSlotsList
          }) }}
        {% endset %}

        {%- set slotsAvailable = (day.slots.morning | length) + (day.slots.afternoon | length) %}
        {% set slotText %}
          {% if slotsAvailable === 0 %}Fully booked{% endif %}
          {% if slotsAvailable === 1 %}1 time slot{% endif %}
          {% if slotsAvailable > 1 %}{{ slotsAvailable }} time slots{% endif %}
        {% endset %}

        {%- if (slotsAvailable > 0) %}
        {% set accordion = (accordion.push({
          heading: {
            text: day.date
          },
          summary: {
            text: slotText
          },
          content: {
            html: (morningHtml if morningSlotsList | length) + (afternoonHtml if afternoonSlotsList | length)
          },
          expanded: (morningSlotsList | selectattr("checked") | length) or (afternoonSlotsList | selectattr("checked") | length)
        }), accordion) %}
        {% endif %}
      {% endfor -%}

      {{- govukAccordion({
        id: "slots-month-" + (month | replace(" ", "")),
        headingLevel: 3,
        items: accordion
      }) }}
    {% endfor %}
    
    {{ govukButton({
      text: "Continue",
      attributes: { "data-test": "submit" }
    }) }} 
    </form>

    {% else %}
    <p>There are no visit time slots for the next 28 days.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
