{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Error" %}
{% set pageTitle %}
{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      {% for item in message %}
        <p>{{ item }}</p>
      {% endfor %}

      {% if showHomeButton %}
        {% include "partials/backToStartButton.njk" %}
      {% endif %}

      {% if stack %}
        <h2 class="govuk-heading-m">{{ status }}</h2>
        <p>{{ errorMessage }}</p>
        <pre>{{ stack }}</pre>
      {% endif %}
    </div>
</div>

{% endblock %}
