{% extends "layout.njk" %}

{% set pageHeaderTitle = "Error" %}
{% set pageTitle %}
{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if stack %}

        <h2 class="govuk-heading-m">{{ status }}</h2>
        <pre>{{ stack }}</pre>
        
      {% else %}

        <h1 class="govuk-heading-l">{{ heading }}</h1>
        {% for item in message %}
          <p>{{ item }}</p>
        {% endfor %}

      {% endif %}
    </div>
</div>

{% endblock %}
