{% extends "layout.njk" %}

{% set pageHeaderTitle = "Selected establishment does not use this service" %}
{% set pageTitle %}{{ applicationName }} - {{ pageHeaderTitle }}{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ prisonName }} does not use this service</h1>

      <p>Manage prison visits is a new service and only some establishments are using it.</p>
      
      <p>
        If you have access to another establishment that uses this service,
        change your location by selecting the link in the DPS header.
      </p>
    </div>
  </div>
{% endblock %}
