{% extends "../partials/layout.njk" %}
{% from "../components/card/card.njk" import card %}

{% set pageHeaderTitle = "Manage prison visits" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% block content %}

  <div class="govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/search",
            "clickable": "true",
            "heading": "Book a prison visit",
            "description": "Book a prison visit for a visitor",
            "id": 1
          }) }}
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "http://localhost:3000",
            "clickable": "true",
            "heading": "Find a booked visit",
            "description": "View and cancel an existing visit booking",
            "id": 2
          }) }}
        </li>
      </ul>
    </div>
  </div>

  <script src="/assets/card.js"></script>
{% endblock %}
