{% extends "layout.njk" %}
{% from "components/card/card.njk" import card %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = "Manage prison visits" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% block content %}

  <div class="govuk-body">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l bapv-index-header">{{ govukTag({
        text: "beta"
      }) }}<span>{{ pageHeaderTitle }}</span></h1>
      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/search/prisoner",
            "clickable": "true",
            "heading": "Book a visit",
            "description": "Make a booking for a visitor",
            "id": "book-visit"
          }) }}
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/search/visit",
            "clickable": "true",
            "heading": "Change a visit",
            "description": "Update or cancel a booking",
            "id": "change-visit"
          }) }}
        </li>
        {% if showReviewBookingsTile %}
          <li class="govuk-grid-column-one-third card-group__item">
            {{ card({
              "href": "/",
              "clickable": "true",
              "heading":
                '<span class="bapv-nowrap">Need review' +
                  '<span class="govuk-!-margin-left-2' + (" moj-notification-badge" if reviewCount > 0) + '" data-test="need-review-count">' +
                    ((reviewCount if reviewCount < 100 else "99+") if reviewCount > 0)+
                  "</span>" +
                "</span>",
              "description": "Check bookings that need review",
              "id": "need-review"
            }) }}
          </li>
        {% endif %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/visits",
            "clickable": "true",
            "heading": "View visits by date",
            "description": "Select a date and see bookings",
            "id": "view-visits-by-date"
          }) }}
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/timetable",
            "clickable": "true",
            "heading": "View visits timetable",
            "description": "Check and request changes to the social visits timetable",
            "id": "view-timetable"
          }) }}
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/assets/card.js"></script>
{% endblock %}
