{% extends "layout.njk" %}

{% set pageTitle = "Sorry, the service is unavailable" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p data-test="maintenance-message">{{ maintenanceMessage }}</p>

      <p>
        You can use <a href="{{ dpsHome }}">other Digital Prison Services</a>.
      </p>

    </div>
  </div>
{% endblock %}
