{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Who is the main contact for this booking?" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}
{% set backLinkHref = "/visit/additional-support/" + offenderNo %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% include "partials/errorSummary.njk" %}
        <form action="/visit/select-main-contact/{{ offenderNo }}" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% set visitors = [] %}

            {% for visitor in adultVisitors %}
                {% set itemValue = visitor.name | replace(" ", "_") %}
                {% set visitors = (visitors.push(
                    {
                        value: itemValue,
                        text: visitor.name + " (" + (visitor.relationshipDescription | lower) + " to prisoner)",
                        checked: itemValue == contact
                    }
                ), visitors) %}
            {% endfor %}

            {% set someoneElseHtml %}
                {{ govukInput({
                    id: "someoneElseName",
                    name: "someoneElseName",
                    type: "text",
                    classes: "govuk-!-width-one-third",
                    label: {
                        text: "Name"
                    },
                    value: someoneElseName,
                    errorMessage: errors | findError('someoneElseName')
                }) }}
            {% endset -%}
            
            {% set visitors = (visitors.push(
                {
                    value: "someoneElse",
                    text: "Someone else",
                    checked: contact == "someoneElse",
                    conditional: {
                        html: someoneElseHtml
                    }
                }
            ), visitors) %}

            {{ govukRadios({
                idPrefix: "contact",
                name: "contact",
                fieldset: {
                    legend: {
                        text: pageHeaderTitle,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                items: visitors,
                errorMessage: errors | findError('contact')
            }) }}

            {{ govukInput({
                label: {
                    text: "What is their phone number?",
                    classes: "govuk-label--m",
                    isPageHeading: true
                },
                hint: {
                    text: "Phone number"
                },
                classes: "govuk-!-width-one-third",
                id: "phoneNumber",
                name: "phoneNumber",
                value: phoneNumber,
                errorMessage: errors | findError('phoneNumber')
            }) }}
            {{ govukButton({
                text: "Continue"
            }) }} 
        </form>
    </div>
  </div>
{% endblock %}
