{% extends "layout.njk" %}

{% set pageHeaderTitle = "Search for a prisoner" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>
    </div>
    {% include "partials/searchHeader.njk" %}
  </div>
{% endblock %}
