{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageHeaderTitle = "Visits timetable" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% set backLinkHref = "/" %}

{% macro scheduleRowByType(scheduleRows, schedule, type) %}
  {% if schedule.capacity[type] !== 0 %}
   {% set rowNumber = scheduleRows | length %}
    {% set scheduleRows = (scheduleRows.push([
      {
        text: (selectedDate + 'T' + schedule.startTime) | formatTime +
        ' to ' + (selectedDate + 'T' + schedule.endTime) | formatTime,
        attributes: { "data-test" : "schedule-time-" + rowNumber } 
      },
      {
        text: type | capitalize,
        attributes: { "data-test" : "schedule-type-" + rowNumber } 
      },
      {
        text: schedule.capacity[type] + ' tables',
        attributes: { "data-test" : "schedule-capacity-" + rowNumber } 
      },
      {
        text: schedule.prisonerLocationGroupNames | join(', ') or 'All prisoners',
        attributes: { "data-test" : "schedule-attendees-" + rowNumber } 
      },
      {
        text: sessionTemplateFrequency[schedule.sessionTemplateFrequency],
        attributes: { "data-test" : "schedule-frequency-" + rowNumber } 
      },
      {
        text: schedule.sessionTemplateEndDate | formatDate or 'Not entered' ,
        attributes: { "data-test" : "schedule-end-date-" + rowNumber } 
      }
   ]), scheduleRows) %}
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <nav aria-labelledby="selected-date">
        <h2 class="govuk-heading-m" id="selected-date">{{ selectedDate | formatDate('EEEE d MMMM yyyy') }}</h2>

        <ul class="govuk-list bapv-timetable-dates govuk-!-margin-bottom-1">
          {% for day in weekOfDates %}
            {% set selected = day == selectedDate %}
            <li class="bapv-timetable-dates__date{{ ' bapv-timetable-dates__date--selected' if selected }}">
              <span>{{ day | formatDate('E') }}</span>
                {% if not selected %}<a href="/timetable?date={{ day | formatDate('yyyy-MM-dd') }}">{% endif %}
                  {{ day | formatDate('d') }}<span class="govuk-visually-hidden"> {{ day | formatDate('MMMM yyyy') }}</span>
                {% if not selected %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>
        <ul class="govuk-list bapv-timetable-dates">
          <li class="moj-pagination__item  moj-pagination__item--prev">
            <a class="moj-pagination__link" href="/timetable?date={{ previousWeek | formatDate('yyyy-MM-dd') }}" data-test="previous-week">Previous week</a>
          </li>
          <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="/timetable?date={{ nextWeek | formatDate('yyyy-MM-dd') }}" data-test="next-week">Next week</a>
          </li>
        </ul>
      </nav>
      
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if schedules | length %}

        {% set scheduleRows = [] %}
        {% for schedule in schedules %}
          {{ scheduleRowByType(scheduleRows, schedule, 'open')}}
          {{ scheduleRowByType(scheduleRows, schedule, 'closed')}}
        {% endfor %}
        {{ govukTable({
          classes: 'bapv-table-no-bottom-border',
          head: [
            {
              text: "Time"
            },
            {
              text: "Visit type"
            },
            {
              text: "Capacity"
            },
            {
              text: "Who can attend"
            },
            {
              text: "How often"
            },
            {
              text: "End date"
            }
          ],
          rows: scheduleRows
        }) }}

        {% else %}
          <p data-test="empty-schedule">No visit sessions on this day.</p>
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m" data-test="change-timetable">Request changes to the timetable</h2>
      <p>You need to provide six weeks' notice to change the timetable. To request a change,
          <a href="https://request-visit-schedule-change.form.service.justice.gov.uk" target="_blank" data-test="change-request">complete the request form (opens in a new tab)</a>.
          We will respond within 5 working days.
      </p>
      <p>In exceptional circumstances when you need to make a change to the timetable within the next six weeks,
          email or call the Family Services Contact Centre. They will need to cancel any visits already booked
          for these dates and tell booking staff to not make further bookings for this visit session.
      </p>

    </div>
  </div>
{% endblock %}
