{% extends "layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageHeaderTitle = "Visits timetable" %}
{% set pageTitle %}
{% if errors | length %}Error: {% endif %}{{ applicationName }} - {{ pageHeaderTitle }}
{% endset %}

{% set backLinkHref = "/" %}

{% macro scheduleRowByType(scheduleRows, schedule, type) %}
  {% if schedule.capacity[type] !== 0 %}
   {% set rowNumber = scheduleRows | length %}
    {% set scheduleRows = (scheduleRows.push([
      {
        text: (sessionDate + 'T' + schedule.startTime) | formatTime +
        ' to ' + (sessionDate + 'T' + schedule.endTime) | formatTime,
        attributes: { "data-test" : "schedule-time-" + rowNumber } 
      },
      {
        text: type | capitalize,
        attributes: { "data-test" : "schedule-type-" + rowNumber } 
      },
      {
        text: schedule.capacity[type] + ' tables',
        attributes: { "data-test" : "schedule-capacity-" + rowNumber } 
      },
      {
        text: schedule.prisonerLocationGroupNames | join(', ') or 'All prisoners',
        attributes: { "data-test" : "schedule-attendees-" + rowNumber } 
      },
      {
        text: sessionTemplateFrequency[schedule.sessionTemplateFrequency],
        attributes: { "data-test" : "schedule-frequency-" + rowNumber } 
      },
      {
        text: schedule.endDate or 'Not entered' ,
        attributes: { "data-test" : "schedule-end-date-" + rowNumber } 
      }
   ]), scheduleRows) %}
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

      <h2 class="govuk-heading-m" data-test="date-heading">Monday DD MMMM 2023</h2>
      {% if schedules | length %}

        {% set scheduleRows = [] %}
        {% for schedule in schedules %}
          {{ scheduleRowByType(scheduleRows, schedule, 'open')}}
          {{ scheduleRowByType(scheduleRows, schedule, 'closed')}}
        {% endfor %}
        {{ govukTable({
          classes: 'bapv-table-no-bottom-border',
          head: [
            {
              text: "Time"
            },
            {
              text: "Visit type"
            },
            {
              text: "Capacity"
            },
            {
              text: "Who can attend"
            },
            {
              text: "How often"
            },
            {
              text: "End date"
            }
          ],
          rows: scheduleRows
        }) }}
      {% endif %}
    </div>

        <h2 class="govuk-heading-m" data-test="request-changes">Request changes to the timetable</h2>
        <p>You need to provide six weeks' notice to change the timetable. To request a change,
            <a href="LINK_TBC" target="_blank" data-test="request-changes-link">(LINK TBC!) complete the request form (opens in a new tab)</a>.
            We will respond within 5 working days.
        </p>
        <p>In exceptional circumstances when you need to make a change to the timetable within the next six weeks,
            email or call the Family Services Contact Centre. They will need to cancel any visits already booked
            for these dates and tell booking staff to not make further bookings for this visit session.
        </p>

    </div>
  </div>
{% endblock %}
